#features {
    top: var(--features-top);

    --flower-position: relative;
    --flower-top: 0;
    --flower-left: 0;
    --flower-width: 40%;
    --h1-width: 55%;
    --h1-padding-top: 5vw;
    --h1-padding-bottom: 5vw;
    --h1-font-size-scale: 1;
    --h2-float: left;
    --h2-clear: left;
    --h2-width: 100%;
    --h2-padding-top: 0;
    --h2-padding-right: 0;
    --h2-padding-left: 5vw;
    --h2-font-size: 5vw;
    --h2-text-align: left;
    --h2-text-shadow-off: 0 0 .5vw #ff00ff;
    --h2-text-shadow-on: 0 0 .5vw #fff, 0 0 2vw #ff00ff, 0 0 4vw #ff00ff;
    --h2-animation: none;
    --p-width: 65%;
    --p-margin-bottom: 2vh;
    --p-font-size: 3vw;
    --support-width: 29%;
    --egg-position: relative;
    --egg-float: left;
    --egg-width: 20%;
    --egg-top: 0;
    --egg-left: 6vw;
    --hamsa-position: relative;
    --hamsa-float: left;
    --hamsa-width: 20%;
    --hamsa-top: 0;
    --hamsa-left: 6vw;
    --relax-position: relative;
    --relax-top: 0;
    --relax-left: 0;
    --relax-float: right;
    --relax-width: 50%;
    --relax-margin-left: 0;
    --relax-margin-right: 3vw;
    --aside-float: left;
    --aside-width: 100%;
    --aside-font-size: 3vw;
    --ul-width: 70%;
    --ul-margin-top: 0;
    --ul-font-size: 2.5vw;
    --seal-top: 0;
    --seal-width: 25%;
    --h3-width: 80%;
    --h3-scale: 1;
    --h3-top: 0;
    --h3-left: 0;
    --h3-padding-vertical: 5vw;
    --a-top: 40vh;
    --a-left: 35vw;
}
#features>picture:nth-of-type(1) {
    display: block;
    content: url("/images/enhanced-nonchalance.svg");
    position: var(--flower-position);
    top: var(--flower-top);
    left: var(--flower-left);
    display: block;
    float: right;
    width: var(--flower-width);
    margin: 0;
}
#features:target>picture:nth-of-type(1){
    content: url("/images/enhanced-nonchalance.svg#play");
}
#features>h1 {
    display: block;
    box-sizing: border-box;
    float: left;
    width: var(--h1-width);
    padding: var(--h1-padding-top) 5vw var(--h1-padding-bottom);
    text-align: left;
}
#features>h1>span {
    display: block;
}
#features>h1>span:nth-of-type(1) {
    font-size: calc(8vw * var(--h1-font-size-scale));
    font-weight: 300;
}
#features>h1>span:nth-of-type(2) {
    font-weight: 800;
    font-size:  calc(10vw * var(--h1-font-size-scale));
    text-transform: uppercase;
    text-transform: capitalize;
    color: #32ffad;
    text-shadow: .1em .1em .5em #32ffad;
    animation: 4s glow-sign ease-in-out infinite;
    animation-play-state: paused;
}
#features:target>h1>span:nth-of-type(1){
    animation-play-state: running;
}
#features>h1>span:nth-of-type(3) {
    font-weight: 800;
    font-size:  calc(9vw * var(--h1-font-size-scale));
    text-transform: uppercase;
    text-transform: capitalize;
    color: #32ffad;
    text-shadow: .1em .1em .5em #32ffad;
    -webkit-text-stroke: .025em #ffffff;
}
#features>h2 {
    box-sizing: border-box;
    float: var(--h2-float);
    clear: var(--h2-clear);
    width: var(--h2-width);
    padding: var(--h2-padding-top) var(--h2-padding-right) 0 var(--h2-padding-left);
    text-align: var(--h2-text-align);
    animation: var(--h2-animation);
    animation-play-state: paused;
}
#features:target>h2{
    animation-play-state: running;
}
@keyframes blink {
    0% {
        text-shadow: var(--h2-text-shadow-off);
    }
    49% {
        text-shadow: var(--h2-text-shadow-off);
    }
    50% {
        text-shadow: var(--h2-text-shadow-on);
    }
    100% {
        text-shadow: var(--h2-text-shadow-on);
    }
}
#features>h2>i {
    display: block;
    clear: both;
    font-size: var(--h2-font-size);
    font-weight: 300;
    font-style: italic;
    color: #f7f;
    margin: 0 0 2vh;
}

#features>p {
    box-sizing: border-box;
    clear: left;
    margin: 0 0 var(--p-margin-bottom);
    padding: 0 0 0 5.5vw;
    line-height: calc(var(--p-font-size) * 1.5);
    text-align: left;
    font-size: var(--p-font-size);
    font-weight: 400;
    width: var(--p-width);
    text-shadow: .1vw .1vw .2vw #ff58c5;
}
#features>picture:nth-of-type(2) {
    display: block;
    box-sizing: border-box;
    float: right;
    content: url("/images/support.svg");
    width: var(--support-width);
    margin: 0 2vw -2vh 0;
    transform: rotate3d(0, 1, 0, 180deg);
}
#features>picture:nth-of-type(3) {
    display: block;
    box-sizing: border-box;
    content: url("/images/egg_of_life.svg");
    float: var(--egg-float);
    position: var(--egg-position);
    top: var(--egg-top);
    left: var(--egg-left);
    width: var(--egg-width);
    margin: 0;
    padding: 0;
}
#features>picture:nth-of-type(4) {
    display: block;
    box-sizing: border-box;
    content: url("/images/hamsa.svg");
    float: var(--hamsa-float);
    position: var(--hamsa-position);
    top: var(--hamsa-top);
    left: var(--hamsa-left);
    width: var(--hamsa-width);
    margin: 0;
    padding: 0;
}
#features>picture:nth-of-type(5) {
    display: block;
    content: url("/images/relax.svg");
    position: var(--relax-position);
    top: var(--relax-top);
    left: var(--relax-left);
    box-sizing: border-box;
    float: var(--relax-float);
    width: var(--relax-width);
    margin: 0 var(--relax-margin-right) 0 var(--relax-margin-left);
    padding: 0;
}
#features>aside {
    display: block;
    box-sizing: border-box;
    float: var(--aside-float);
    width: var(--aside-width);
    margin: 0;
    padding: 0 2vw 1vh;
    text-align: center;
}
#features>aside>span {
    font-size: var(--aside-font-size);
    line-height: calc(var(--aside-font-size) * 1.5);
    font-weight: 700;
    color: #00ffbb;
    -webkit-text-stroke: .25px rgb(0, 0, 0);
    text-shadow: .25vw .25vw .1em #bb00ff;
    letter-spacing: .1em;
    animation: 8s aside infinite;
    animation-play-state: paused;
}
#features:target>aside>span{
    animation-play-state: running;
}
#features>aside>span:nth-of-type(n+2) {
    border-left: 2px solid #fff;
    margin-left: 1vw;
    padding-left: 1vw;
}
@keyframes aside {
    33% {
        text-shadow: .25vw .25vw .1em #ff00ff;
    }
}
#features>ul {
    display: block;
    box-sizing: border-box;
    clear: both;
    float: left;
    width: var(--ul-width);
    font-family: monospace;
    margin: var(--ul-margin-top) 0 3vh;
    padding: 1vh 5vw 0 7vw;
    text-align: left;
    font-size: var(--ul-font-size);
    line-height: calc(var(--ul-font-size) * 1.5);
    text-shadow: .1vw .1vw .2vw #ff58c5;
}
#features>ul>li{
    margin: 0 0 .5vh;
}
#features>picture:nth-of-type(6) {
    display: block;
    content: url("/images/rest-easy.svg");
    position: relative;
    top: var(--seal-top);
    right: 3vw;
    box-sizing: border-box;
    float: right;
    width: var(--seal-width);
    margin: 0;
    padding: 0;
    transform: rotate(10deg);
}
#features>h3 {
    position: relative;
    top: var(--h3-top);
    left: var(--h3-left);
    box-sizing: border-box;
    clear: both;
    float: left;
    width: var(--h3-width);
    margin: 0;
    padding: 0 var(--h3-padding-vertical);
    text-align: center;
}
#features>h3>span:first-of-type {
    display: block;
    box-sizing: border-box;
    font-size: calc(var(--h3-scale) * 3.75vw);
    margin: 0 0 .5vh;
    padding: 0 10%;
    font-weight: 500;
    font-style: italic;
}
#features>h3>span:nth-of-type(2) {
    display: block;
    font-size: calc(var(--h3-scale) * 7vw);
}
#features>a {
    display: block;
    margin: 0 auto;
    position: relative;
    top: var(--a-top);
    left: var(--a-left);
    animation-play-state: paused;
}
#features:target>a{
    animation-play-state: running;
}

@media screen and (min-aspect-ratio: .55/1) and (max-aspect-ratio: .6/1) {
    #features {
        --h1-font-size-scale: .95;
        --p-width: 70%;
        /*--p-font-size: 2.75vw;*/
        --support-width: 24%;
        --egg-width: 20%;
        --hamsa-width: 19%;
        --hamsa-left: 8vw;
        --relax-width: 45%;
    }
}
@media screen and (min-aspect-ratio: .6/1) and (max-aspect-ratio: .65/1) {
    #features {
        --h1-font-size-scale: .9;
        --p-width: 70%;
        --p-font-size: 2.75vw;
        --support-width: 24%;
        --egg-width: 15%;
        --hamsa-width: 14%;
        --hamsa-left: 8vw;
        --relax-float: left;
        --relax-width: 33%;
        --relax-margin-left: 11vw;
        --relax-margin-right: 0;
        --h3-scale: .9;
    }
}
@media screen and (min-aspect-ratio: .65/1) and (max-aspect-ratio: .7/1) {
    #features {
        --h1-font-size-scale: .9;
        --p-width: 70%;
        --p-font-size: 2.25vw;
        --support-width: 24%;
        --egg-width: 15%;
        --hamsa-width: 14%;
        --hamsa-left: 8vw;
        --relax-float: left;
        --relax-width: 27%;
        --relax-margin-left: 10vw;
        --relax-margin-right: 0;
        --h3-scale: .9;
    }
}
@media screen and (min-aspect-ratio: .7/1) and (max-aspect-ratio: .75/1) {
    #features {
        --flower-width: 40%;
        --h1-font-size-scale: .8;
        --p-width: 70%;
        --p-margin-bottom: 1vh;
        --p-font-size: 2.25vw;
        --support-width: 20%;
        --egg-width: 13%;
        --hamsa-width: 12%;
        --hamsa-left: 8vw;
        --relax-float: left;
        --relax-width: 29%;
        --relax-margin-left: 10vw;
        --relax-margin-right: 0;
        --aside-font-size: 2.5vw;
        --h3-scale: .8;
    }
}
@media screen and (min-aspect-ratio: .75/1) and (max-aspect-ratio: .8/1) {
    #features {
        --flower-width: 36%;
        --h1-padding-top: 3vh;
        --h1-font-size-scale: .7;
        --h2-font-size: 4.5vw;
        --p-width: 70%;
        --p-margin-bottom: 1vh;
        --p-font-size: 2.25vw;
        --support-width: 20%;
        --egg-width: 13%;
        --hamsa-width: 12%;
        --hamsa-left: 8vw;
        --relax-float: left;
        --relax-width: 29%;
        --relax-margin-left: 10vw;
        --relax-margin-right: 0;
        --aside-font-size: 3vw;
        --h3-scale: .8;
    }
}
@media screen and (min-aspect-ratio: .8/1) and (max-aspect-ratio: .85/1) {
    #features {
        --flower-width: 35%;
        --h1-padding-top: 3vh;
        --h1-font-size-scale: .7;
        --h2-font-size: 4vw;
        --p-width: 70%;
        --p-margin-bottom: 1vh;
        --p-font-size: 2.25vw;
        --support-width: 20%;
        --egg-width: 13%;
        --hamsa-width: 12%;
        --hamsa-left: 8vw;
        --relax-float: left;
        --relax-width: 29%;
        --relax-margin-left: 10vw;
        --relax-margin-right: 0;
        --aside-font-size: 3vw;
        --ul-width: 75%;
        --ul-font-size: 2vw;
        --seal-width: 23%;
        --h3-top: -1vh;
        --h3-scale: .8;
    }
}
@media screen and (min-aspect-ratio: .85/1) and (max-aspect-ratio: .9/1) {
    #features {
        --flower-width: 37%;
        --h1-padding-top: 3vh;
        --h1-font-size-scale: .7;
        --h2-font-size: 4vw;
        --p-width: 70%;
        --p-margin-bottom: 1vh;
        --p-font-size: 2.25vw;
        --support-width: 20%;
        --egg-width: 13%;
        --hamsa-width: 12%;
        --hamsa-left: 8vw;
        --relax-float: left;
        --relax-width: 29%;
        --relax-margin-left: 10vw;
        --relax-margin-right: 0;
        --aside-font-size: 2.25vw;
        --ul-width: 78%;
        --ul-font-size: 2vw;
        --seal-width: 17%;
        /*--h3-top: -2vh;*/
        --h3-scale: .8;
    }
}
@media screen and (min-aspect-ratio: .9/1) and (max-aspect-ratio: .95/1) {
    #features {
        --flower-width: 33%;
        --h1-padding-top: 3vh;
        --h1-font-size-scale: .7;
        --h2-width: 75%;
        --h2-font-size: 3.75vw;
        --p-width: 80%;
        --p-margin-bottom: 2vh;
        --p-font-size: 2.25vw;
        --support-width: 20%;
        --egg-position: absolute;
        --egg-width: 9%;
        --egg-left: 0;
        --hamsa-position: absolute;
        --hamsa-width: 20%;
        --hamsa-top: 5vh;
        --hamsa-left: 47vw;
        --relax-float: right;
        --relax-width: 18%;
        --relax-margin-left: 0vw;
        --relax-margin-right: 0;
        --aside-width: 60%;
        --aside-font-size: 2vw;
        --ul-width: 78%;
        --ul-font-size: 1.75vw;
        --seal-width: 20%;
        --h3-top: -3vh;
        --h3-scale: .9;
    }
}
@media screen and (min-aspect-ratio: .95/1) and (max-aspect-ratio: 1/1) {
    #features {
        --flower-width: 33%;
        --h1-padding-top: 3vh;
        --h1-font-size-scale: .7;
        --h2-width: 75%;
        --h2-font-size: 3.75vw;
        --p-width: 80%;
        --p-margin-bottom: 2vh;
        --p-font-size: 2vw;
        --support-width: 20%;
        --egg-position: absolute;
        --egg-width: 9%;
        --egg-left: 0;
        --hamsa-position: absolute;
        --hamsa-width: 20%;
        --hamsa-top: 5vh;
        --hamsa-left: 47vw;
        --relax-float: right;
        --relax-width: 18%;
        --relax-margin-left: 0vw;
        --relax-margin-right: 0;
        --aside-width: 60%;
        --aside-font-size: 2vw;
        --ul-width: 78%;
        --ul-font-size: 1.75vw;
        --seal-width: 20%;
        --h3-top: -5vh;
        --h3-scale: .7;
    }
}
@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 1/.95) {
    #features {
        --flower-width: 33%;
        --h1-padding-top: 3vh;
        --h1-font-size-scale: .7;
        --h2-width: 75%;
        --h2-font-size: 3.75vw;
        --p-width: 80%;
        --p-margin-bottom: 2vh;
        --p-font-size: 2vw;
        --support-width: 17%;
        --egg-position: absolute;
        --egg-width: 9%;
        --egg-left: 0;
        --hamsa-position: absolute;
        --hamsa-width: 20%;
        --hamsa-top: 5vh;
        --hamsa-left: 47vw;
        --relax-float: right;
        --relax-width: 20%;
        --relax-margin-left: 0vw;
        --relax-margin-right: 0;
        --aside-width: 60%;
        --aside-font-size: 2vw;
        --ul-width: 78%;
        --ul-font-size: 1.75vw;
        --seal-width: 20%;
        --h3-top: -5vh;
        --h3-scale: .8;
    }
}
@media screen and (min-aspect-ratio: 1/.95) and (max-aspect-ratio: 1/.9) {
    #features {
        --flower-width: 33%;
        --h1-padding-top: 3vh;
        --h1-font-size-scale: .7;
        --h2-width: 75%;
        --h2-font-size: 3.75vw;
        --p-width: 80%;
        --p-margin-bottom: 2vh;
        --p-font-size: 2vw;
        --support-width: 17%;
        --egg-position: absolute;
        --egg-width: 9%;
        --egg-left: 0;
        --hamsa-position: absolute;
        --hamsa-width: 20%;
        --hamsa-top: 5vh;
        --hamsa-left: 47vw;
        --relax-float: right;
        --relax-width: 20%;
        --relax-margin-left: 0vw;
        --relax-margin-right: 0;
        --aside-width: 60%;
        --aside-font-size: 2vw;
        --ul-width: 78%;
        --ul-font-size: 1.6vw;
        --seal-width: 20%;
        --h3-top: -6vh;
        --h3-scale: .8;
    }
}
@media screen and (min-aspect-ratio: 1/.9) and (max-aspect-ratio: 1/.85) {
    #features {
        --flower-position: absolute;
        --flower-left: 67vw;
        --flower-width: 33%;
        --h1-padding-top: 3vh;
        --h1-font-size-scale: .6;
        --h2-width: 75%;
        --h2-font-size: 3.5vw;
        --p-width: 80%;
        --p-margin-bottom: 2vh;
        --p-font-size: 1.75vw;
        --support-width: 15%;
        --egg-position: absolute;
        --egg-width: 0;
        --egg-top: 65vh;
        --egg-left: 65vw;
        --hamsa-position: absolute;
        --hamsa-width: 19%;
        --hamsa-top: 5vh;
        --hamsa-left: 45vw;
        --relax-float: right;
        --relax-width: 22%;
        --relax-margin-left: 0vw;
        --relax-margin-right: 0;
        --aside-width: 60%;
        --aside-font-size: 2vw;
        --ul-width: 66%;
        --ul-margin-top: -4vh;
        --ul-font-size: 1.5vw;
        --seal-width: 17%;
        --h3-top: -4vh;
        --h3-scale: .85;
    }
}
@media screen and (min-aspect-ratio: 1/.85) and (max-aspect-ratio: 1/.8) {
    #features {
        --flower-position: absolute;
        --flower-left: 67vw;
        --flower-width: 30%;
        --h1-padding-top: 3vh;
        --h1-font-size-scale: .6;
        --h2-width: 75%;
        --h2-font-size: 3vw;
        --p-width: 80%;
        --p-margin-bottom: 2vh;
        --p-font-size: 1.75vw;
        --support-width: 13.6%;
        --egg-position: absolute;
        --egg-width: 0;
        --egg-top: 65vh;
        --egg-left: 65vw;
        --hamsa-position: absolute;
        --hamsa-width: 17%;
        --hamsa-top: 5vh;
        --hamsa-left: 45vw;
        --relax-float: right;
        --relax-width: 22%;
        --relax-margin-left: 0vw;
        --relax-margin-right: 0;
        --aside-width: 60%;
        --aside-font-size: 2vw;
        --ul-width: 66%;
        --ul-margin-top: -4vh;
        --ul-font-size: 1.75vh;
        --seal-width: 17%;
        --h3-width: 66%;
        --h3-top: -8vh;
        --h3-scale: .65;
        --h3-padding-vertical: 0;
        --a-top: 25vh;
        --a-left: 21vw;
    }
}
@media screen and (min-aspect-ratio: 1/.8) and (max-aspect-ratio: 1/.75) {
    #features {
        --flower-position: absolute;
        --flower-left: 67vw;
        --flower-width: 30%;
        --h1-padding-top: 3vh;
        --h1-font-size-scale: .55;
        --h2-width: 75%;
        --h2-font-size: 3vw;
        --p-width: 80%;
        --p-margin-bottom: 2vh;
        --p-font-size: 1.75vw;
        --support-width: 13.6%;
        --egg-position: absolute;
        --egg-width: 0;
        --egg-top: 65vh;
        --egg-left: 65vw;
        --hamsa-position: absolute;
        --hamsa-width: 17%;
        --hamsa-top: 5vh;
        --hamsa-left: 45vw;
        --relax-float: right;
        --relax-width: 22%;
        --relax-margin-left: 0vw;
        --relax-margin-right: 0;
        --aside-width: 60%;
        --aside-font-size: 2vw;
        --ul-width: 66%;
        --ul-margin-top: -4vh;
        --ul-font-size: 1.85vh;
        --seal-width: 17%;
        --h3-width: 66%;
        --h3-top: -8vh;
        --h3-scale: .65;
        --h3-padding-vertical: 0;
        --a-top: 25vh;
        --a-left: 21vw;
    }
}
@media screen and (min-aspect-ratio: 1/.75) and (max-aspect-ratio: 1/.7) {
    #features {
        --flower-position: absolute;
        --flower-left: 67vw;
        --flower-width: 30%;
        --h1-padding-top: 3vh;
        --h1-font-size-scale: .55;
        --h2-width: 75%;
        --h2-font-size: 3vw;
        --p-width: 80%;
        --p-margin-bottom: 2vh;
        --p-font-size: 1.75vw;
        --support-width: 13.6%;
        --egg-position: absolute;
        --egg-width: 0;
        --egg-top: 65vh;
        --egg-left: 65vw;
        --hamsa-position: absolute;
        --hamsa-width: 17%;
        --hamsa-top: 5vh;
        --hamsa-left: 45vw;
        --relax-float: right;
        --relax-width: 22%;
        --relax-margin-left: 0vw;
        --relax-margin-right: 0;
        --aside-width: 60%;
        --aside-font-size: 2vw;
        --ul-width: 66%;
        --ul-margin-top: -4vh;
        --ul-font-size: 1.85vh;
        --seal-width: 17%;
        --h3-width: 66%;
        --h3-top: -12vh;
        --h3-scale: .65;
        --h3-padding-vertical: 0;
        --a-top: 25vh;
        --a-left: 21vw;
    }
}
@media screen and (min-aspect-ratio: 1/.7) and (max-aspect-ratio: 1/.65) {
    #features {
        --flower-position: absolute;
        --flower-left: 67vw;
        --flower-width: 30%;
        --h1-width: 35%;
        --h1-padding-top: 3vh;
        --h1-font-size-scale: .55;
        --h2-width: 75%;
        --h2-font-size: 3vw;
        --p-width: 80%;
        --p-margin-bottom: 2vh;
        --p-font-size: 1.5vw;
        --support-width: 13.6%;
        --egg-position: absolute;
        --egg-width: 0;
        --egg-top: 65vh;
        --egg-left: 65vw;
        --hamsa-position: absolute;
        --hamsa-width: 17%;
        --hamsa-top: 5vh;
        --hamsa-left: 45vw;
        --relax-float: right;
        --relax-width: 22%;
        --relax-margin-left: 0vw;
        --relax-margin-right: 0;
        --aside-width: 60%;
        --aside-font-size: 2vw;
        --ul-width: 66%;
        --ul-margin-top: -7vh;
        --ul-font-size: 1.35vw;
        --seal-width: 17%;
        --h3-width: 66%;
        --h3-top: -14vh;
        --h3-scale: .65;
        --h3-padding-vertical: 0;
        --a-top: 25vh;
        --a-left: 21vw;
    }
}
@media screen and (min-aspect-ratio: 1/.65) and (max-aspect-ratio: 1/.6) {
    #features {
        /*--flower-position: absolute;*/
        /*--flower-left: 67vw;*/
        --flower-width: 27%;
        --h1-width: 34%;
        --h1-padding-top: 3.5vh;
        --h1-padding-bottom: 4vh;
        --h1-font-size-scale: .5;
        --h2-width: 39%;
        --h2-clear: none;
        --h2-padding-top: 10vh;
        --h2-padding-left: 2vw;
        --h2-text-align: center;
        --h2-font-size: 3.5vw;
        --h2-animation: 3.5s blink linear infinite;
        --p-width: 80%;
        --p-margin-bottom: 2vh;
        --p-font-size: 1.25vw;
        --support-width: 12%;
        --egg-position: absolute;
        --egg-width: 0;
        --egg-top: 65vh;
        --egg-left: 65vw;
        --hamsa-position: absolute;
        --hamsa-width: 8%;
        --hamsa-top: 74vh;
        --hamsa-left: 4vw;
        --relax-position: absolute;
        --relax-left: 72vw;
        --relax-top: 23vw;
        --relax-float: right;
        --relax-width: 25%;
        --relax-margin-left: 0vw;
        --relax-margin-right: 0;
        --aside-float: none;
        --aside-width: 60%;
        --aside-font-size: 2vw;
        --ul-width: 66%;
        --ul-margin-top: 0vh;
        --ul-font-size: 1.35vw;
        --seal-top: 9vh;
        --seal-width: 13%;
        --h3-width: 66%;
        --h3-top: 0vw;
        --h3-left: 5vw;
        --h3-scale: .6;
        --h3-padding-vertical: 0;
        --a-top: 25vh;
        --a-left: 21vw;
    }
    #features>h2{
        transform: skewY(-3deg);
    }
    #features>h2>i:after {
        content: "!";
    }
}
@media screen and (min-aspect-ratio: 1/.6) and (max-aspect-ratio: 1/.55) {
    #features {
        /*--flower-position: absolute;*/
        /*--flower-left: 67vw;*/
        --flower-width: 27%;
        --h1-width: 34%;
        --h1-padding-top: 4vh;
        --h1-padding-bottom: 4vh;
        --h1-font-size-scale: .45;
        --h2-width: 39%;
        --h2-clear: none;
        --h2-padding-top: 10vh;
        --h2-padding-left: 0;
        --h2-text-align: center;
        --h2-font-size: 3.5vw;
        --h2-animation: 3.5s blink linear infinite;
        --p-width: 80%;
        --p-margin-bottom: 3vh;
        --p-font-size: 1.25vw;
        --support-width: 12%;
        --egg-position: absolute;
        --egg-width: 0;
        --egg-top: 65vh;
        --egg-left: 65vw;
        --hamsa-position: absolute;
        --hamsa-width: 8%;
        --hamsa-top: 74vh;
        --hamsa-left: 4vw;
        --relax-position: absolute;
        --relax-left: 72vw;
        --relax-top: 23vw;
        --relax-float: right;
        --relax-width: 25%;
        --relax-margin-left: 0vw;
        --relax-margin-right: 0;
        --aside-float: none;
        --aside-width: 60%;
        --aside-font-size: 2vw;
        --ul-width: 66%;
        --ul-margin-top: -1vh;
        --ul-font-size: 1.15vw;
        --seal-top: 5vh;
        --seal-width: 13%;
        --h3-width: 66%;
        --h3-top: -3vw;
        --h3-left: 5vw;
        --h3-scale: .6;
        --h3-padding-vertical: 0;
        --a-top: 25vh;
        --a-left: 21vw;
    }
    #features>h2{
        transform: skewY(-3deg);
    }
    #features>h2>i:after {
        content: "!";
    }
    #features>ul:before {
        content: url("/images//h2h-rect.svg");
        float: left;
        width: 8vw;
        margin-right: 2vw;
        position: relative;
        top: 2vh;
        right: 1vw;
    }
}
@media screen and (min-aspect-ratio: 1/.55) and (max-aspect-ratio: 1/.5) {
    #features {
        /*background: #3886bd;*/
        /*--flower-position: absolute;*/
        /*--flower-left: 67vw;*/
        --flower-width: 27%;
        --h1-width: 34%;
        --h1-padding-top: 3.5vh;
        --h1-padding-bottom: 4vh;
        --h1-font-size-scale: .45;
        --h2-width: 39%;
        --h2-clear: none;
        --h2-padding-top: 10vh;
        --h2-padding-left: 0;
        --h2-text-align: center;
        --h2-font-size: 3.5vw;
        --h2-animation: 3.5s blink linear infinite;
        --p-width: 80%;
        --p-margin-bottom: 2vh;
        --p-font-size: 1.25vw;
        --support-width: 12%;
        --egg-position: absolute;
        --egg-width: 0;
        --egg-top: 65vh;
        --egg-left: 65vw;
        --hamsa-position: absolute;
        --hamsa-width: 8%;
        --hamsa-top: 77vh;
        --hamsa-left: 4vw;
        --relax-position: absolute;
        --relax-left: 72vw;
        --relax-top: 23vw;
        --relax-float: right;
        --relax-width: 25%;
        --relax-margin-left: 0vw;
        --relax-margin-right: 0;
        --aside-float: none;
        --aside-width: 60%;
        --aside-font-size: 2vw;
        --ul-width: 66%;
        --ul-margin-top: -3vh;
        --ul-font-size: 1.15vw;
        --seal-top: 9vh;
        --seal-width: 13%;
        --h3-width: 66%;
        --h3-top: -4vw;
        --h3-left: 5vw;
        --h3-scale: .6;
        --h3-padding-vertical: 0;
        --a-top: 25vh;
        --a-left: 21vw;
    }
    #features>h2{
        transform: skewY(-3deg);
    }
    #features>h2>i:after {
        content: "!";
    }
    #features>ul:before {
        content: url("/images//h2h-rect.svg");
        float: left;
        width: 8vw;
        margin-right: 2vw;
        position: relative;
        top: 2vh;
        right: 1vw;
    }
}