#overview{
    top: var(--overview-top);

    --h1-width: 50%;
    --h1-padding-top: 6vw;
    --h1-padding-right: 5vw;
    --h1-padding-left: 7vw;
    --h1-font-size-scale: 1;
    --h1-pc-top: 0;
    --h1-pc-left: 4vw;
    --h1-pc-white-space: normal;
    --figure-width: 48%;
    --figure-float: right;
    --figure-margin-bottom: 1vh;
    --figure-padding-top: 6vw;
    --figure-padding-right: 3vw;
    --figure-padding-left: 0;
    --charge-up-float: right;
    --charge-up-width: 50%;
    --charge-up-clear: right;
    --charge-up-margin-top: 0;
    --p-float: left;
    --p-clear: left;
    --p-width: 70%;
    --p-padding-vertical: 2vh;
    --p-padding-left: 7vw;
    --p-font-size: 3.75vw;
    --hr-s-width: 60vw;
    --tetrahedron-width: 30%;
    --tetrahedron-margin-top: -2vh;
    --wield-width: 40%;
    --wield-margin-left: 0;
    --a-top: 2vh;
    --a-left: auto;
    --ul-width: 60%;
    --ul-margin-top: 0;
    --ul-margin-bottom: 0;
    --ul-padding-vertical: 2vh;
    --ul-padding-left: 6vw;
    --ul-font-size: 3vw;
    --ul-line-height-scale: 1.25;
    --ul-line-height: calc(var(--ul-font-size) * var(--ul-line-height-scale));
    --ul-li-float: none;
    --ul-li-width: auto;
    --strong-float: none;
    --strong-width: 100%;
    --strong-margin-top: 0;
    --strong-font-size: 8vw;
    --strong-text-align: center;
}

#overview>h1{
    display: block;
    float: left;
    box-sizing: border-box;
    width: var(--h1-width);
    padding: var(--h1-padding-top) var(--h1-padding-right) 0 var(--h1-padding-left);
    text-align: left;
    transform-origin: center;
    transform-box: content-box;
    transform: skew(0, -8deg);
}
#overview>h1>span:nth-of-type(1){
    display: block;
    font-size: calc(var(--h1-font-size-scale) * 9vw);
    font-weight: 800;
}
#overview>h1>span:nth-of-type(2){
    display: block;
    font-size: calc(var(--h1-font-size-scale) * 11vw);
    font-weight: 800;
}
#overview>h1>span:nth-of-type(3){
    display: block;
    font-size: calc(var(--h1-font-size-scale) * 13vw);
    color: #00ffe1;
    font-weight: 800;
    -webkit-text-stroke: 2px #ffffff;
}
#overview>h1>span:nth-of-type(4){
    position: relative;
    left: 5vw;
    margin: 0 0 0;
}
#overview>h1>span:nth-of-type(5){
    position: relative;
    top: var(--h1-pc-top);
    left: var(--h1-pc-left);
    font-size: calc(var(--h1-font-size-scale) * 5vw);
    margin: 0 2vw 0 2vw;
    white-space: var(--h1-pc-white-space);
}
#overview>picture:nth-of-type(1){
    display: block;
    content: url("/lp/images/skelly.svg");
    box-sizing: border-box;
    float: var(--figure-float);
    width: var(--figure-width);
    margin: 0 0 var(--figure-margin-bottom);
    padding: var(--figure-padding-top) var(--figure-padding-right) 0 var(--figure-padding-left);
}
#overview:target>picture:nth-of-type(1){
    content: url("/lp/images/skelly.svg#play");
}
#overview>picture:nth-of-type(2){
    display: block;
    box-sizing: border-box;
    content: url("/lp/images/charge-up.svg");
    float: var(--charge-up-float);
    clear: var(--charge-up-clear);
    width: var(--charge-up-width);
    margin: var(--charge-up-margin-top) 0 1vh;
    padding: 0 2vw 0 0;
}
#overview:target>picture:nth-of-type(2){
    content: url("/lp/images/charge-up.svg#play");
}
#overview>p{
    display: block;
    position: relative;
    box-sizing: border-box;
    clear: var(--p-clear);
    float: var(--p-float);
    width: var(--p-width);
    margin: 0;
    padding: var(--p-padding-vertical) 0 calc(var(--p-padding-vertical) * .5) var(--p-padding-left);
    text-align: left;
    font-size: var(--p-font-size);
    line-height: calc(var(--p-font-size) * 1.5);
    text-shadow: .1vw .1vw .2vw #ff58c5;
}
#overview>h3{
    clear: both;
    text-align: left;
    float: left;
    width: 55%;
    margin: 0 0 2vh 6vw;
    padding: 0 0 1vh 0;
    border-bottom: .1em solid #b480ff;
}
#overview>h3>span{
    font-size: 5vw;
}
#overview>picture:nth-of-type(3){
    display: block;
    content: url("/lp/images/star-tetrahedron.svg");
    box-sizing: border-box;
    float: right;
    width: var(--tetrahedron-width);
    margin: var(--tetrahedron-margin-top) 0 0;
    padding: 0 3vw 3vh 0;
}
#overview:target>picture:nth-of-type(3){
    content: url("/lp/images/star-tetrahedron.svg#play");
}
#overview>picture:nth-of-type(4){
    display: block;
    content: url("/lp/images/wield.svg");
    box-sizing: border-box;
    float: left;
    clear: left;
    width: var(--wield-width);
    margin: 0 0 0 var(--wield-margin-left);
    padding: 0;
}
#overview:target>picture:nth-of-type(4) {
    content: url("/lp/images/wield.svg#play");
}
#overview>hr.s{
    float: left;
    clear: left;
    width: var(--hr-s-width);
    height: calc(var(--hr-s-width) * .08);
    margin: 0 0 0 6vw;
}
#overview>ul{
    display: block;
    box-sizing: border-box;
    float: left;
    width: var(--ul-width);
    margin: var(--ul-margin-top) 0 var(--ul-margin-bottom) 0;
    padding: calc(var(--ul-padding-vertical) * .5) 0 var(--ul-padding-vertical) var(--ul-padding-left);
    text-align: left;
    font-family: monospace;
    font-size: var(--ul-font-size);
    line-height: var(--ul-line-height);
    font-weight: 100;
}
#overview>ul>li{
    float: var(--ul-li-float);
    width: var(--ul-li-width);
    box-sizing: border-box;
}
#overview>strong{
    display: block;
    box-sizing: border-box;
    float: var(--strong-float);
    clear: both;
    width: var(--strong-width);
    margin: var(--strong-margin-top) 0 0;
    padding: 0 5vw;
    font-size: var(--strong-font-size);
    font-weight: 400;
    font-family: "Quicksand";
    color: #00ffe1;
    text-shadow: .1em .1em 2em #05ffff, -.1em -.1em .5em #05ffff, -.1em .1em .5em #05ffff, .1em -.1em .5em #05ffff;
    -webkit-text-stroke: .025em #ffffff;
    transform: skew(0, -4deg);
    animation: 3s glow-sign linear infinite;
    animation-play-state: paused;
    text-align: var(--strong-text-align);
}
#overview>strong{
    animation-play-state: running;
}
#overview>a{
    margin: 0 auto;
    position: relative;
    top: var(--a-top);
    left: var(--a-left);
}
#overview>a>i:before{
    display: inline-block;
    content: "\e901";
    font-size: 10vw;
    font-family: "ui";
    color: #bd99ff;
    font-style: normal;
    transform: rotate(90deg);
    transform-origin: center;
    transform-box: border-box;
}
@media screen and (min-aspect-ratio: .55/1) and (max-aspect-ratio: .6/1){
    #overview{
        --ul-font-size: 3vw;
        --a-top: -4vh;
        --a-left: 35vw;
    }
}
@media screen and (min-aspect-ratio: .6/1) and (max-aspect-ratio: .65/1){
    #overview{
        --p-font-size: 3vw;
        --wield-width: 35%;
        --ul-font-size: 3vw;
        --a-top: -4vh;
        --a-left: 35vw;
    }
}
@media screen and (min-aspect-ratio: .65/1) and (max-aspect-ratio: .7/1){
    #overview{
        --p-padding-vertical: 4vh;
        --p-font-size: 2.5vw;
        --figure-width: 40%;
        --charge-up-width: 40%;
        --wield-width: 35%;
        --ul-margin-top: -2vh;
        --ul-font-size: 2.75vw;
        --a-top: -4vh;
        --a-left: 35vw;
    }
}
@media screen and (min-aspect-ratio: .7/1) and (max-aspect-ratio: .75/1){
    #overview{
        --h1-font-size-scale: .9;
        --p-padding-vertical: 4vh;
        --p-font-size: 2.5vw;
        --figure-width: 40%;
        --charge-up-width: 40%;
        --wield-width: 30%;
        --ul-margin-top: -2vh;
        --ul-font-size: 2.5vw;
        --strong-font-size: 7vw;
        --a-top: -6vh;
        --a-left: 35vw;
    }
}
@media screen and (min-aspect-ratio: .75/1) and (max-aspect-ratio: .8/1){
    #overview{
        /*--h1-font-size-scale: .9;*/
        --h1-pc-white-space: nowrap;
        --p-width: 75%;
        --p-padding-vertical: 2vh;
        --p-font-size: 2.5vw;
        --figure-width: 40%;
        --charge-up-width: 40%;
        --tetrahedron-width: 25%;
        --wield-width: 30%;
        --ul-margin-top: -4vh;
        --ul-margin-bottom: 2vh;
        --ul-font-size: 2.5vw;
        --strong-font-size: 7vw;
        --a-top: -6vh;
        --a-left: 35vw;
    }
}
@media screen and (min-aspect-ratio: .8/1) and (max-aspect-ratio: .85/1){
    #overview{
        --h1-font-size-scale: .85;
        --h1-pc-white-space: nowrap;
        --p-width: 70%;
        --p-padding-vertical: 2vh;
        --p-font-size: 2.5vw;
        --figure-width: 45%;
        --charge-up-width: 30%;
        --tetrahedron-width: 25%;
        --wield-width: 30%;
        --ul-margin-top: -5vh;
        --ul-margin-bottom: 2vh;
        --ul-font-size: 2.5vw;
        --strong-font-size: 6vw;
        --a-top: 1vh;
        --a-left: 35vw;
    }
}
@media screen and (min-aspect-ratio: .85/1) and (max-aspect-ratio: .9/1){
    #overview{
        --h1-font-size-scale: .82;
        --h1-pc-white-space: nowrap;
        --p-width: 70%;
        --p-padding-vertical: 2vh;
        --p-font-size: 2.5vw;
        --figure-width: 43%;
        --charge-up-width: 30%;
        --tetrahedron-width: 25%;
        --wield-width: 27%;
        --ul-margin-top: -5vh;
        --ul-margin-bottom: 2vh;
        --ul-font-size: 2.25vw;
        --strong-font-size: 6vw;
        --a-top: 0;
        --a-left: 35vw;
    }
}
@media screen and (min-aspect-ratio: .9/1) and (max-aspect-ratio: 1/1){
    #overview{
        --h1-font-size-scale: .75;
        --h1-pc-top: -2vh;
        --h1-pc-left: 8vw;
        --h1-pc-white-space: nowrap;
        --p-width: 70%;
        --p-padding-vertical: 2vh;
        --p-font-size: 2.25vw;
        --figure-width: 40%;
        --charge-up-width: 30%;
        --tetrahedron-width: 25%;
        --wield-width: 20%;
        --ul-margin-top: -9vh;
        --ul-margin-bottom: 0vh;
        --ul-font-size: 2.25vw;
        --strong-font-size: 6vw;
        --a-top: 0;
        --a-left: 35vw;
    }
}
@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 1/.9){
    #overview{
        --h1-font-size-scale: .65;
        --h1-pc-top: -2vh;
        --h1-pc-left: 7vw;
        --h1-pc-white-space: nowrap;
        --p-width: 65%;
        --p-padding-vertical: 2vh;
        --p-font-size: 1.85vw;
        --figure-width: 35%;
        --charge-up-width: 35%;
        --tetrahedron-width: 25%;
        --wield-width: 20%;
        --ul-margin-top: -15vh;
        --ul-margin-bottom: 2vh;
        --ul-font-size: 2vw;
        --strong-font-size: 6vw;
        --a-top: 0;
        --a-left: 35vw;
    }
}
@media screen and (min-aspect-ratio: 1/.9) and (max-aspect-ratio: 1/.8){
    #overview{
        --h1-width: 30%;
        --h1-font-size-scale: .5;
        --h1-padding-right: 0;
        --p-float: left;
        --p-clear: right;
        --p-width: 38%;
        --p-padding-vertical: 2vh;
        --p-padding-left: 0;
        --p-font-size: 1.85vw;
        --figure-float: left;
        --figure-width: 30%;
        --figure-padding-left: 2vw;
        --charge-up-float: right;
        --charge-up-width: 33%;
        --charge-up-margin-top: 7vh;
        --tetrahedron-width: 28%;
        --hr-s-width: 65vw;
        --wield-width: 40vh;
        --ul-margin-top: -14vh;
        --ul-margin-bottom: 0;
        --ul-padding-left: 0;
        --ul-font-size: 2.25vw;
        --strong-float: right;
        --strong-width: 70%;
        --strong-margin-top: -10vh;
        --strong-font-size: 5.5vw;
        --strong-text-align: center;
        --a-top: 86vh;
        --a-left: 39vw;
    }
}
@media screen and (min-aspect-ratio: 1/.8) and (max-aspect-ratio: 1/.7){
    #overview{
        --h1-width: 30%;
        --h1-font-size-scale: .45;
        --h1-padding-right: 0;
        --h1-padding-left: 4vw;
        --p-float: left;
        --p-clear: right;
        --p-width: 38%;
        --p-padding-vertical: 2vh;
        --p-padding-left: 0;
        --p-font-size: 1.85vw;
        --figure-float: left;
        --figure-width: 29%;
        --figure-margin-bottom: 0;
        --figure-padding-left: 2vw;
        --charge-up-float: right;
        --charge-up-width: 33%;
        --charge-up-margin-top: 7vh;
        --tetrahedron-width: 28%;
        --hr-s-width: 65vw;
        --wield-width: 40vh;
        --ul-margin-top: -20vh;
        --ul-margin-bottom: 0;
        --ul-padding-left: 0;
        --ul-font-size: 1.8vw;
        --strong-float: right;
        --strong-width: 70%;
        --strong-margin-top: -16vh;
        --strong-font-size: 5.5vw;
        --strong-text-align: center;
        --a-top: 86vh;
        --a-left: 39vw;
    }
}
@media screen and (min-aspect-ratio: 1/.7) and (max-aspect-ratio: 1/.6){
    #overview{
        --h1-width: 27%;
        --h1-font-size-scale: .4;
        --h1-padding-right: 0;
        --p-float: left;
        --p-clear: right;
        --p-width: 45%;
        --p-padding-vertical: 2vh;
        --p-padding-left: 0;
        --p-font-size: 1.85vw;
        --figure-float: left;
        --figure-width: 25%;
        --figure-margin-bottom: 0;
        --figure-padding-left: 1vw;
        --charge-up-float: right;
        --charge-up-width: 33%;
        --charge-up-margin-top: 7vh;
        --tetrahedron-width: 28%;
        --hr-s-width: 65vw;
        --wield-width: 40vh;
        --ul-margin-top: -23vh;
        --ul-margin-bottom: 0;
        --ul-padding-left: 0;
        --ul-font-size: 1.8vw;
        --strong-float: right;
        --strong-width: 70%;
        --strong-margin-top: -12vh;
        --strong-font-size: 4vw;
        --strong-text-align: center;
        --a-top: 89vh;
        --a-left: 39vw;
    }
}
@media screen and (min-aspect-ratio: 1/.6) and (max-aspect-ratio: 1/.5){
    #overview{
        --h1-width: 27%;
        --h1-font-size-scale: .4;
        --h1-padding-top: 7vh;
        --h1-padding-right: 0;
        --p-float: left;
        --p-clear: right;
        --p-width: 45%;
        --p-padding-vertical: 2vh;
        --p-padding-left: 0;
        --p-font-size: 1.85vw;
        --figure-float: left;
        --figure-width: 25%;
        --figure-margin-bottom: 0;
        --figure-padding-top: 5vh;
        --figure-padding-left: 1vw;
        --charge-up-float: right;
        --charge-up-width: 33%;
        --charge-up-margin-top: 3vh;
        --tetrahedron-width: 20%;
        --hr-s-width: 65vw;
        --wield-width: 40vh;
        --ul-width: 60%;
        --ul-margin-top: -10vh;
        --ul-margin-bottom: 0;
        --ul-padding-left: 0;
        --ul-font-size: 1.4vw;
        --ul-line-height-scale: 1.75;
        --ul-li-width: 50%;
        --ul-li-float: left;
        --strong-float: right;
        --strong-width: 70%;
        --strong-margin-top: -20vh;
        --strong-font-size: 4vw;
        --strong-text-align: center;
        --a-top: 86vh;
        --a-left: 39vw;
    }
}
@media screen and (min-aspect-ratio: 1/.5) and (max-aspect-ratio: 1/.45){
    #overview{
        --h1-width: 24%;
        --h1-font-size-scale: .325;
        --h1-padding-top: 7vh;
        --h1-padding-right: 0;
        --p-float: left;
        --p-clear: right;
        --p-width: 45%;
        --p-padding-vertical: 2vh;
        --p-padding-left: 0;
        --p-font-size: 1.85vw;
        --figure-float: left;
        --figure-width: 22%;
        --figure-margin-bottom: 0;
        --figure-padding-top: 5vh;
        --figure-padding-left: 1vw;
        --charge-up-float: right;
        --charge-up-width: 33%;
        --charge-up-margin-top: 3vh;
        --tetrahedron-width: 35vh;
        --hr-s-width: 65vw;
        --wield-width: 30vh;
        --wield-margin-left: 4vw;
        --ul-width: 63%;
        --ul-margin-top: 0vh;
        --ul-margin-bottom: 0;
        --ul-padding-left: 2vw;
        --ul-font-size: 1.5vw;
        --ul-line-height-scale: 1.5;
        --ul-li-width: 50%;
        --ul-li-float: left;
        --strong-float: right;
        --strong-width: 80%;
        --strong-margin-top: -4vh;
        --strong-font-size: 4.25vw;
        --strong-text-align: center;
        --a-top: 86vh;
        --a-left: 40vw;
    }
    #overview>strong{
        position: relative;
        top: -5vh;
        left: 0;
    }
}
@media screen and (min-aspect-ratio: 1/.45) and (max-aspect-ratio: 1/.4){
    #overview{
        --h1-width: 24%;
        --h1-font-size-scale: .3;
        --h1-padding-top: 7vh;
        --h1-padding-right: 0;
        --p-float: left;
        --p-clear: right;
        --p-width: 45%;
        --p-padding-vertical: 2vh;
        --p-padding-left: 0;
        --p-font-size: 1.5vw;
        --figure-float: left;
        --figure-width: 20%;
        --figure-margin-bottom: 0;
        --figure-padding-top: 5vh;
        --figure-padding-left: 1vw;
        --charge-up-float: right;
        --charge-up-width: 33%;
        --charge-up-margin-top: 3vh;
        --tetrahedron-width: 35vh;
        --hr-s-width: 65vw;
        --wield-width: 30vh;
        --wield-margin-left: 4vw;
        --ul-width: 52%;
        --ul-margin-top: 0vh;
        --ul-margin-bottom: 0;
        --ul-padding-left: 2vw;
        --ul-font-size: 1.25vw;
        --ul-line-height-scale: 1.5;
        --ul-li-width: 50%;
        --ul-li-float: left;
        --strong-float: right;
        --strong-width: 80%;
        --strong-margin-top: -4vh;
        --strong-font-size: 3.5vw;
        --strong-text-align: center;
        --a-top: 80vh;
        --a-left: -20vw;
    }
    #overview>strong{
        position: relative;
        top: -10vh;
        left: 12vw;
    }
}