#requirements {
    top: var(--requirements-top);

    --h1-margin-bottom: 0;
    --h1-width: 100%;
    --h1-img-width: 40%;
    --h1-padding-left: 0;
    --h1-font-size: 8vw;
    --hr-width: 90%;
    --hr-s-height: 7vw;
    --hr-f-height: 3vw;
    --hr-margin-right: auto;
    --hr-margin-left: auto;
    --figure-width: 100%;
    --figure-padding-top: 3vh;
    --figure-padding-bottom: 3vh;
    --figure-section1-padding-left: 7vw;
    --figure-section2-padding-right: 7vw;
    --h3-font-size: 4vw;
    --ul-padding-top: 5vw;
    --ul-font-size: 2vw;
    --wow-display: block;
    --wow-width: 100%;
    --a-float: left;
    --a-width: 100%;
    --a-margin-bottom: 5vh;
    --a-padding-top: 3vh;
    --a-font-size: 5vw;
    --a-img-display: inline;
    --a-img-width: 11vw;
    --a-img-margin-bottom: 0;
    --a-img-margin-right: 1vw;
    --h2-position: relative;
    --h2-float: right;
    --h2-top: 0;
    --h2-right: 0;
    --h2-width: 62%;
    --h2-text-align: center;
    --h2-font-size: 5.5vw;
    --h2-margin-top: 1vh;
    --h2-margin-right: 0;
    --h2-margin-bottom: 4vh;
    --h2-padding-left: 0;
    --h2-transform: skew(0, -5deg);
    --strong-top: 0;
    --strong-left: 7vw;
    --strong-clear: both;
    --strong-margin-top: 0;
    --strong-margin-left: 2vw;
    --strong-font-size: 7vw;
    --crystals-position: relative;
    --crystals-top: 0;
    --crystals-left: 0;
    --crystals-width: 38%;
    --crystals-margin-top: -2vh;
    --crystals-margin-bottom: 3vh;
    --a-top: 35vh;
    --a-left: 80vw;
}
#requirements>h1 {
    display: block;
    box-sizing: border-box;
    position: relative;
    margin: 0 0 var(--h1-margin-bottom);
    padding: 0 0 0 var(--h1-padding-left);
    overflow: auto;
    float: left;
    width: var(--h1-width);
    text-align: left;
}
#requirements>h1>picture {
    display: block;
    content: url("../images/wip.svg");
    box-sizing: border-box;
    float: left;
    width: var(--h1-img-width);
    padding: 2.5vw 2.5vw 0;
}
#requirements:target>h1>picture {
    content: url("../images/wip.svg#play");
}
#requirements>h1>span {
    display: block;
    box-sizing: border-box;
    margin: 0;
}
#requirements>h1>span:first-of-type {
    margin-top: calc(var(--h1-img-width) / 6.5);
}
#requirements>h1>span:nth-of-type(1) {
    font-size: var(--h1-font-size);
    font-weight: 600;
    font-family: "Quicksand";
    text-shadow: .05em .05em 0 rgb(198, 11, 255);
}
#requirements>h1>span:nth-of-type(2):before {
    display: inline-block;
    content: "for";
    bottom: 22%;
    margin: 0 1vw 0 0;
    vertical-align: middle;
    color: #fff;
    font-weight: 400;
    font-size: calc(var(--h1-font-size) * .4);
}
#requirements>h1>span:nth-of-type(2) {
    font-weight: 600;
    font-size: calc(var(--h1-font-size) * .65);

}
#requirements>hr {
    width: var(--hr-width);
    color: #fff;
    margin: 0 var(--hr-margin-right) 0 var(--hr-margin-left);
}
#requirements>hr.s {
    height: var(--hr-s-height);
}
#requirements>hr.f {
    height: var(--hr-f-height);
}
#requirements>figure {
    display: block;
    box-sizing: border-box;
    float: left;
    width: var(--figure-width);
    margin: 0;
    padding: var(--figure-padding-top) 0 var(--figure-padding-bottom) 0;
    text-align: center;
}
#requirements>figure>section:nth-of-type(1) {
    padding: 0 4vw 0 var(--figure-section1-padding-left);
}
#requirements>figure>section:nth-of-type(2) {
    padding: 0 var(--figure-section2-padding-right) 0 4vw;
}
#requirements>figure>section {
    display: block;
    box-sizing: border-box;
    float: left;
    width: 50%;
}
#requirements>figure>section+section {
    border-left: .35vw solid #b480ff;
}
/*#requirements>figure>section {*/
/*    border-left: .05em solid #b480ff;*/
/*}*/
#requirements>figure>section>h3 {
    font-size: var(--h3-font-size);
    text-align: center;
}
#requirements>figure>section>h3>span {
    display: block;
    box-sizing: border-box;
}
#requirements>figure>section>h3>span:nth-of-type(1) {
    margin: 0 0 1vh;
    font-style: italic;
    font-weight: 100;
}
#requirements>figure>section>h3>span:nth-of-type(2) {
    /*width: 90%;*/
    margin: 0;
    padding: 0 0 1vh;
    border-bottom: .1em solid #fff;
    font-weight: 600;
}
#requirements>figure>section>ul {
    margin: 0;
    padding: var(--ul-padding-top) 2vw 0 2vw;
    font-family: monospace;
    font-size: var(--ul-font-size);
    text-align: left;
}
#requirements>figure>section>ul>li {
    margin: 0 0 1vh;
}
#requirements>figure>section>picture {
    display: block;
    width: var(--wow-width);
    margin: 0 auto;
}
#requirements>figure>section:first-of-type>ul>li>span:after {
    content: url("../images/wow.svg");
    display: var(--wow-display);
    box-sizing: border-box;
    width: var(--wow-width);
    margin: 0 auto;
    vertical-align: middle;
}
#requirements>aside {
    display: block;
    box-sizing: border-box;
    clear: both;
    width: 50%;
    float: right;
    margin: 0;
    padding: 5vw;
    background: #9432fc7b;
}
#requirements>aside>label {
    font-size: 3.5vw;
    font-weight: 500;
}
#requirements>a:first-of-type {
    display: block;
    box-sizing: border-box;
    float: var(--a-float);
    width: var(--a-width);
    margin: 0 0 var(--a-margin-bottom);
    padding: var(--a-padding-top) 0 0 0;
    text-align: center;
}
#requirements>a:first-of-type>img {
    display: var(--a-img-display);
    width: var(--a-img-width);
    margin: 0 var(--a-img-margin-right) var(--a-img-margin-bottom) auto;
    vertical-align: middle;
}
#requirements>a>span {
    font-size: var(--a-font-size);
    font-family: monospace;
    vertical-align: middle;
    filter: drop-shadow(0 0 .5em #fff7db);
    -webkit-text-stroke: .051em #dfdfdf;
    text-shadow: .1em .1em 0 #7512ff;
}
@keyframes gb {
    50% {
        filter: drop-shadow(0 0 1em #fff7db);
    }
}
#requirements>a>span:after {
    content: "↩";
    font-size: var(--a-font-size);
    margin: 0 0 0 2vw;
    color: #00ffb3;
}
#requirements>picture:nth-of-type(1) {
    display: block;
    content: url("../images/crystals.svg");
    position: var(--crystals-position);
    top: var(--crystals-top);
    left: var(--crystals-left);
    box-sizing: border-box;
    float: right;
    width: var(--crystals-width);
    margin: var(--crystals-margin-top) 0 var(--crystals-margin-bottom);
}
#requirements>picture:nth-of-type(1) {
    content: url("../images/crystals.svg#play");
}
#requirements>h2 {
    display: block;
    box-sizing: border-box;
    position: var(--h2-position);
    top: var(--h2-top);
    right: var(--h2-right);
    float: var(--h2-float);
    width: var(--h2-width);
    margin: var(--h2-margin-top) var(--h2-margin-right) var(--h2-margin-bottom) 0;
    padding: 0 0 0 var(--h2-padding-left);
    text-align: var(--h2-text-align);
    font-style: italic;
    -webkit-text-stroke: .035em #fff;
    animation: 4s glr infinite;
    animation-play-state: paused;
    transform: var(--h2-transform);
}
#requirement:target>h2{
    animation-play-state: running;
}
#requirements>h2>span {
    font-size: var(--h2-font-size);
    line-height: var(--h2-font-size);
    font-family: "Quicksand";
    color: #00ffff;
    font-weight: 600;
}
@keyframes glr {
    0% {
        -webkit-text-stroke: .035em #fff;
    }
    50% {
        -webkit-text-stroke: .035em #ba89ff;
    }
    100% {
        -webkit-text-stroke: .035em #fff;
    }
}
#requirements>strong {
    display: block;
    position: relative;
    top: var(--strong-top);
    left: var(--strong-left);
    clear: var(--strong-clear);
    float: left;
    font-size: var(--strong-font-size);
    margin: var(--strong-margin-top) 0 0 var(--strong-margin-left);
    padding: 0 2vw;
    color: #ff00b4;
    -webkit-text-stroke: .05em #c799ff;
    animation: 4s instl linear infinite;
    animation-play-state: paused;
}
#requirements:target>strong{
    animation-play-state: running;
}
@keyframes instl {
    50% {
        text-shadow: .1em .1em 1em #ff15e4;
        color: #ff00c3;
    }
}
#requirements>strong:after {
    position: relative;
    left: 0;
    content: "\e901";
    font-family: "ui";
    margin: 0 0 0 2vw;
    animation: 4s arrows linear infinite;
    animation-play-state: paused;
    font-weight: 900;
}
#requirements:target>strong:after{
    animation-play-state: running;
}
@keyframes arrows {
    0% {
        content: "";
    }
    44.9% {
        content: "";
    }
    45% {
        content: ">";
    }
    50% {
        content: "> >";
    }
    55% {
        content: "> > >";
    }
    60% {
        content: "> > > >";
    }
    99.99% {
        content: "";
    }
    100% {
        content: "";
    }
}
#requirements>a:nth-of-type(2) {
    position: relative;
    top: var(--a-top);
    left: var(--a-left);
    animation-play-state: paused;
}
#requirements:target>a:nth-of-type(2){
    animation-play-state: running;
}
@media screen and (min-aspect-ratio: .55/1) and (max-aspect-ratio: .6/1) {
    #requirements {
        --wow-width: 80%;
        --h2-width: 70%;
        --h2-font-size: 5vw;
        --crystals-margin-bottom: 4vh;
        --crystals-width: 25%;
    }
}
@media screen and (min-aspect-ratio: .6/1) and (max-aspect-ratio: .65/1) {
    #requirements {
        --h3-font-size: 3vw;
        --wow-width: 80%;
        --h2-margin-top: 0;
        --crystals-margin-bottom: 1vh;
        --h2-width: 70%;
        --h2-font-size: 4.25vw;
        --a-font-size: 4.5vw;
        --crystals-width: 23%;
    }
}
@media screen and (min-aspect-ratio: .65/1) and (max-aspect-ratio: .7/1) {
    #requirements {
        --h1-img-width: 35%;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --h3-font-size: 3vw;
        --wow-width: 90%;
        --h2-width: 70%;
        --h2-margin-bottom: 2vh;
        --h2-font-size: 4vw;
        --a-font-size: 4.5vw;
        --crystals-width: 23%;
    }
}
@media screen and (min-aspect-ratio: .7/1) and (max-aspect-ratio: .75/1) {
    #requirements {
        --h1-margin-bottom: 0;
        --h1-img-width: 32%;
        --h1-font-size: 6.75vw;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --h3-font-size: 3vw;
        --wow-width: 60%;
        --a-img-width: 6vw;
        /*--a-font-size: 4vw;*/
        --h2-width: 65%;
        --h2-margin-top: 2vh;
        --h2-margin-bottom: 2vh;
        --h2-font-size: 4vw;
        --crystals-width: 25%;
        --crystals-margin-bottom: 0;
    }
}
@media screen and (min-aspect-ratio: .75/1) and (max-aspect-ratio: .8/1) {
    #requirements {
        --h1-margin-bottom: 0;
        --h1-img-width: 32%;
        --h1-font-size: 6.75vw;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --h3-font-size: 3vw;
        --wow-width: 80%;
        --a-img-width: 6vw;
        --a-font-size: 3.5vw;
        --h2-width: 65%;
        --h2-margin-top: 0;
        --h2-margin-bottom: 2vh;
        --h2-font-size: 4vw;
        --crystals-width: 23%;
        --crystals-margin-bottom: 0;
    }
}
@media screen and (min-aspect-ratio: .8/1) and (max-aspect-ratio: .85/1) {
    #requirements {
        --h1-margin-bottom: -2vh;
        --h1-width: 100%;
        --h1-img-width: 25%;
        --h1-font-size: 6vw;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --h3-font-size: 3vw;
        --wow-width: 70%;
        --a-img-width: 6vw;
        --a-font-size: 4vw;
        --h2-width: 65%;
        --h2-margin-top: 1vh;
        --h2-margin-bottom: 0;
        --h2-font-size: 4vw;
        --h2-transform: skew(0, -2.5deg);
        --crystals-width: 23%;
    }
}
@media screen and (min-aspect-ratio: .85/1) and (max-aspect-ratio: .9/1) {
    #requirements {
        --h1-margin-bottom: 0;
        --h1-width: 100%;
        --h1-img-width: 23%;
        --h1-padding-left: 2vh;
        --h1-font-size: 6vw;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --h3-font-size: 3vw;
        --wow-width: 60%;
        --a-img-width: 6vw;
        --a-font-size: 4vw;
        --h2-width: 75%;
        --h2-margin-top: 1vh;
        --h2-margin-bottom: 0;
        --h2-font-size: 3.6vw;
        --h2-transform: skew(0, -2.5deg);
        --crystals-width: 20%;
        --crystals-margin-bottom: 0;
    }
}
@media screen and (min-aspect-ratio: .9/1) and (max-aspect-ratio: .95/1) {
    #requirements {
        --h1-margin-bottom: 0;
        --h1-width: 100%;
        --h1-img-width: 21%;
        --h1-font-size: 6vw;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --h3-font-size: 2.5vw;
        --wow-width: 70%;
        --a-img-width: 6vw;
        --a-font-size: 3.5vw;
        --h2-width: 75%;
        --h2-margin-top: 1vh;
        --h2-margin-bottom: 0;
        --h2-font-size: 3.6vw;
        --h2-transform: skew(0, -2.5deg);
        --strong-left: 12vw;
        --strong-font-size: 7vw;
        --crystals-width: 20%;
        --crystals-margin-top: -3vh;
        --crystals-margin-bottom: 0;
        --a-top: 1vh;
    }
}
@media screen and (min-aspect-ratio: .95/1) and (max-aspect-ratio: 1/1) {
    #requirements {
        --h1-margin-bottom: 0;
        --h1-width: 100%;
        --h1-img-width: 21%;
        --h1-font-size: 6vw;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --ul-font-size: 1.75vw;
        --h3-font-size: 2.5vw;
        --wow-display: inline-block;
        --wow-width: 45%;
        --a-width: 65%;
        --a-img-width: 6vw;
        --a-font-size: 3vw;
        --h2-width: 65%;
        --h2-margin-top: 1vh;
        --h2-margin-bottom: 3vh;
        --h2-font-size: 3vw;
        --h2-transform: skew(0, -2.5deg);
        --strong-left: 12vw;
        --strong-font-size: 7vw;
        --crystals-margin-top: 2vh;
        /*--crystals-margin-bottom: 2vh;*/
        --crystals-width: 24%;
        --a-top: 1vh;
    }
}
@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 1/.95) {
    #requirements {
        --h1-margin-bottom: 0;
        --h1-width: 100%;
        --h1-img-width: 21%;
        --h1-font-size: 6vw;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --ul-font-size: 1.75vw;
        --h3-font-size: 2.5vw;
        --wow-display: inline-block;
        --wow-width: 45%;
        --a-width: 65%;
        --a-margin-bottom: 4vh;
        --a-img-width: 6vw;
        --a-font-size: 3vw;
        --h2-width: 65%;
        --h2-margin-top: 1vh;
        --h2-margin-bottom: 0;
        --h2-font-size: 3vw;
        --h2-transform: skew(0, -2.5deg);
        --strong-left: 12vw;
        --strong-font-size: 7vw;
        --crystals-margin-top: 0;
        --crystals-margin-bottom: 2vh;
        --crystals-width: 22%;
        --a-top: 1vh;
    }
}
@media screen and (min-aspect-ratio: 1/.95) and (max-aspect-ratio: 1/.9) {
    #requirements {
        --h1-margin-bottom: 0;
        --h1-width: 100%;
        --h1-img-width: 21%;
        --h1-font-size: 6vw;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --h3-font-size: 2.25vw;
        --ul-padding-top: 2vh;
        --ul-font-size: 1.75vw;
        --wow-display: inline-block;
        --wow-width: 45%;
        --a-width: 65%;
        --a-img-width: 6vw;
        --a-font-size: 2.75vw;
        --h2-width: 65%;
        --h2-margin-top: 0;
        --h2-margin-bottom: 0;
        --h2-font-size: 3vw;
        --h2-transform: skew(0, -2.5deg);
        --strong-left: 18vw;
        --strong-font-size: 6vw;
        --crystals-margin-top: 2vh;
        --crystals-width: 23%;
        --a-top: 1vh;
    }
}
@media screen and (min-aspect-ratio: 1/.9) and (max-aspect-ratio: 1/.85) {
    #requirements {
        --h1-margin-bottom: 0;
        --h1-width: 100%;
        --h1-img-width: 21%;
        --h1-font-size: 6vw;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --h3-font-size: 2.25vw;
        --ul-padding-top: 2vh;
        --ul-font-size: 1.75vw;
        --wow-display: inline-block;
        --wow-width: 45%;
        --a-width: 65%;
        --a-img-width: 6vw;
        --a-font-size: 2.5vw;
        --h2-width: 65%;
        --h2-margin-top: 1vh;
        --h2-margin-bottom: 1vh;
        --h2-font-size: 3vw;
        --h2-transform: skew(0, -2.5deg);
        --strong-left: 30vw;
        --strong-font-size: 5vw;
        --crystals-margin-top: 2vh;
        --crystals-width: 20%;
        --a-top: 1vh;
    }
}
@media screen and (min-aspect-ratio: 1/.85) and (max-aspect-ratio: 1/.8) {
    #requirements {
        --h1-margin-bottom: 0;
        --h1-width: 100%;
        --h1-img-width: 18%;
        --h1-font-size: 5vw;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --h3-font-size: 2.25vw;
        --ul-padding-top: 2vh;
        --ul-font-size: 1.5vw;
        --wow-display: inline-block;
        --wow-width: 45%;
        --a-width: 33.33%;
        --a-img-display: block;
        --a-img-width: 10vw;
        --a-img-margin-bottom: 3vh;
        --a-img-margin-right: auto;
        --a-padding-top: 6vh;
        --a-font-size: 3vw;
        --a-margin-bottom: 0;
        --h2-float: left;
        --h2-width: 40%;
        --h2-margin-top: 11vh;
        --h2-margin-right: 2vw;
        --h2-margin-bottom: 0;
        --h2-padding-left: 0;
        --h2-font-size: 3vw;
        --h2-transform: skew(1deg, -2.5deg);
        --crystals-margin-top: 2vh;
        --crystals-margin-bottom: 0;
        --crystals-width: 23%;
        --strong-left: 30vw;
        --strong-font-size: 5vw;
        --a-top: 1vh;
    }
}
@media screen and (min-aspect-ratio: 1/.8) and (max-aspect-ratio: 1/.75) {
    #requirements {
        --h1-margin-bottom: 0;
        --h1-width: 100%;
        --h1-img-width: 14.5%;
        --h1-font-size: 4.5vw;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --h3-font-size: 2.25vw;
        --ul-padding-top: 2vh;
        --ul-font-size: 1.5vw;
        --wow-display: inline-block;
        --wow-width: 45%;
        --a-width: 33.33%;
        --a-img-display: block;
        --a-img-width: 10vw;
        --a-img-margin-bottom: 3vh;
        --a-img-margin-right: auto;
        --a-padding-top: 6vh;
        --a-font-size: 2.5vw;
        --a-margin-bottom: 0;
        --h2-float: left;
        --h2-width: 40%;
        --h2-margin-top: 11vh;
        --h2-margin-right: 2vw;
        --h2-margin-bottom: 0;
        --h2-padding-left: 0;
        --h2-font-size: 3vw;
        --h2-transform: skew(1deg, -2.5deg);
        --crystals-margin-top: 2vh;
        --crystals-width: 20%;
        --strong-left: 30vw;
        --strong-font-size: 5vw;
        --a-top: 1vh;
    }
}
@media screen and (min-aspect-ratio: 1/.75) and (max-aspect-ratio: 1/.7) {
    #requirements {
        --h1-margin-bottom: 0;
        --h1-width: 100%;
        --h1-img-width: 14.5%;
        --h1-padding-left: 3vw;
        --h1-font-size: 4.25vw;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --h3-font-size: 2vw;
        --ul-padding-top: 2vh;
        --ul-font-size: 1.5vw;
        --wow-display: inline-block;
        --wow-width: 45%;
        --a-width: 28%;
        --a-margin-bottom: 0;
        --a-img-display: block;
        --a-img-width: 10vw;
        --a-img-margin-bottom: 3vh;
        --a-img-margin-right: auto;
        --a-padding-top: 4vh;
        --a-font-size: 2.2vw;
        --h2-right: 1vw;
        --h2-width: 50%;
        --h2-margin-top: 8vh;
        --h2-margin-bottom: 0;
        --h2-margin-right: 2vw;
        --h2-padding-left: 0;
        --h2-font-size: 3vw;
        --h2-text-align: center;
        --h2-transform: skew(1deg, -2.5deg);
        --crystals-margin-top: 2vh;
        --crystals-margin-bottom: 0;
        --crystals-width: 18%;
        --strong-left: 34vw;
        --strong-font-size: 5vw;
        --a-top: 1vh;
        --a-left: 5vw;
    }
}
@media screen and (min-aspect-ratio: 1/.7) and (max-aspect-ratio: 1/.65) {
    #requirements {
        --h1-margin-bottom: 0;
        --h1-width: 100%;
        --h1-img-width: 30%;
        --h1-padding-left: 3vw;
        --h1-font-size: 4.5vw;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --hr-width: 60%;
        --hr-margin-right: 0;
        --hr-margin-left: 5vw;
        --hr-s-height: 4.5vw;
        --hr-f-height: 2vw;
        --figure-width: 70%;
        --h3-font-size: 1.5vw;
        --ul-padding-top: 2vh;
        --ul-font-size: 1.25vw;
        /*--wow-display: inline-block;*/
        --wow-width: 70%;
        --a-float: left;
        --a-width: 47%;
        /*--a-img-display: block;*/
        --a-img-width: 6vw;
        --a-img-margin-bottom: 0;
        --a-img-margin-right: 1vw;
        --a-padding-top: 4vh;
        --a-font-size: 2.25vw;
        --crystals-position: absolute;
        --crystals-top: 31vh;
        --crystals-left: 68vw;
        --crystals-margin-top: 2vh;
        --crystals-width: 30%;
        --h2-position: absolute;
        --h2-top: 17vh;
        --h2-right: 1vw;
        --h2-width: 53%;
        --h2-margin-top: 8vh;
        --h2-margin-bottom: 0;
        --h2-padding-left: 0;
        --h2-font-size: 2.3vw;
        --h2-transform: skew(1deg, -2.5deg);
        --strong-left: 5vw;
        --strong-clear: none;
        --strong-margin-top: 5vh;
        --strong-margin-left: 0;
        --strong-font-size: 3.75vw;
        --a-top: 5vh;
        --a-left: 5vw;
    }
}
@media screen and (min-aspect-ratio: 1/.65) and (max-aspect-ratio: 1/.6) {
    #requirements {
        --h1-margin-bottom: 0;
        --h1-width: 100%;
        --h1-img-width: 25%;
        --h1-padding-left: 3vw;
        --h1-font-size: 4.5vw;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --hr-width: 60%;
        --hr-margin-right: 0;
        --hr-margin-left: 5vw;
        --hr-s-height: 4.5vw;
        --hr-f-height: 2vw;
        --figure-width: 70%;
        --h3-font-size: 1.5vw;
        --ul-padding-top: 2vh;
        --ul-font-size: 1.25vw;
        /*--wow-display: inline-block;*/
        --wow-width: 70%;
        --a-float: left;
        --a-width: 47%;
        /*--a-img-display: block;*/
        --a-img-width: 6vw;
        --a-img-margin-bottom: 0;
        --a-img-margin-right: 1vw;
        --a-padding-top: 4vh;
        --a-font-size: 2.25vw;
        --crystals-position: absolute;
        --crystals-top: 31vh;
        --crystals-left: 68vw;
        --crystals-margin-top: 2vh;
        --crystals-width: 30%;
        --h2-position: absolute;
        --h2-top: 17vh;
        --h2-right: 1vw;
        --h2-width: 50%;
        --h2-margin-top: 4vh;
        --h2-margin-bottom: 0;
        --h2-padding-left: 0;
        --h2-font-size: 2.1vw;
        --h2-transform: skew(1deg, -2.5deg);
        --strong-left: 5vw;
        --strong-clear: none;
        --strong-margin-top: 5vh;
        --strong-margin-left: 0;
        --strong-font-size: 3.75vw;
        --a-top: 5vh;
        --a-left: 5vw;
    }
}
@media screen and (min-aspect-ratio: 1/.6) and (max-aspect-ratio: 1/.55) {
    #requirements {
        --h1-width: 100%;
        --h1-img-width: 23%;
        --h1-margin-bottom: -4vh;
        --h1-padding-left: 0vw;
        --h1-font-size: 6vw;

        --hr-width: 60%;
        --hr-margin-right: 0;
        --hr-margin-left: 5vw;
        --hr-s-height: 4.5vw;
        --hr-f-height: 2vw;
        --figure-width: 70%;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --h3-font-size: 1.5vw;
        --ul-padding-top: 2vh;
        --ul-font-size: 1.5vw;
        /*--wow-display: inline-block;*/
        --wow-width: 50%;
        --a-float: left;
        --a-width: 47%;
        /*--a-img-display: block;*/
        --a-img-width: 6vw;
        --a-img-margin-bottom: 0;
        --a-img-margin-right: 1vw;
        --a-padding-top: 7vh;
        --a-font-size: 2.25vw;
        --crystals-position: absolute;
        --crystals-top: 31vh;
        --crystals-left: 68vw;
        --crystals-margin-top: 2vh;
        --crystals-width: 25%;
        --h2-position: absolute;
        --h2-top: 13vh;
        --h2-right: 2vw;
        --h2-width: 32%;
        --h2-margin-top: 8vh;
        --h2-margin-bottom: 0;
        --h2-padding-left: 0;
        --h2-text-align: center;
        --h2-font-size: 1.9vw;
        --h2-transform: skew(1deg, -2.5deg);
        --strong-left: 5vw;
        --strong-clear: none;
        --strong-margin-top: 8vh;
        --strong-margin-left: 0;
        --strong-font-size: 3.75vw;
        --a-top: 9vh;
        --a-left: 5vw;
    }
}
@media screen and (min-aspect-ratio: 1/.55) and (max-aspect-ratio: 1/.5) {
    #requirements {
        --h1-margin-bottom: 0;
        --h1-width: 100%;
        --h1-img-width: 20%;
        --h1-margin-bottom: -4vh;
        --h1-padding-left: 3vw;
        --h1-font-size: 4.5vw;
        --hr-width: 60%;
        --hr-margin-right: 0;
        --hr-margin-left: 5vw;
        --hr-s-height: 4.5vw;
        --hr-f-height: 2vw;
        --figure-width: 70%;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --h3-font-size: 1.5vw;
        --ul-padding-top: 2vh;
        --ul-font-size: 1.25vw;
        /*--wow-display: inline-block;*/
        --wow-width: 80%;
        --a-float: left;
        --a-width: 47%;
        /*--a-img-display: block;*/
        --a-img-width: 6vw;
        --a-img-margin-bottom: 0;
        --a-img-margin-right: 1vw;
        --a-padding-top: 4vh;
        --a-font-size: 2.25vw;
        --crystals-position: absolute;
        --crystals-top: 31vh;
        --crystals-left: 72vw;
        --crystals-margin-top: 2vh;
        --crystals-width: 22%;
        --h2-position: absolute;
        --h2-top: 13vh;
        --h2-right: 2vw;
        --h2-width: 32%;
        --h2-margin-top: 8vh;
        --h2-margin-bottom: 0;
        --h2-padding-left: 0;
        --h2-text-align: center;
        --h2-font-size: 1.9vw;
        --h2-transform: skew(1deg, -2.5deg);
        --strong-left: 5vw;
        --strong-clear: none;
        --strong-margin-top: 4vh;
        --strong-margin-left: -5vw;
        --strong-font-size: 3.75vw;
        --a-top: 4vh;
        --a-left: 3vw;
    }
}
@media screen and (min-aspect-ratio: 1/.5) and (max-aspect-ratio: 1/.45) {
    #requirements {
        --h1-width: 100%;
        --h1-img-width: 16%;
        --h1-margin-bottom: -4vh;
        --h1-padding-left: 3vw;
        --h1-font-size: 4.5vw;
        --hr-width: 60%;
        --hr-margin-right: 0;
        --hr-margin-left: 5vw;
        --hr-s-height: 4.5vw;
        --hr-f-height: 2vw;
        --figure-width: 70%;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --h3-font-size: 1.5vw;
        --ul-padding-top: 2vh;
        --ul-font-size: 1.25vw;
        /*--wow-display: inline-block;*/
        --wow-width: 80%;
        --a-float: left;
        --a-width: 47%;
        /*--a-img-display: block;*/
        --a-img-width: 5vw;
        --a-img-margin-bottom: 0;
        --a-img-margin-right: 1vw;
        --a-padding-top: 4vh;
        --a-font-size: 2.25vw;
        --crystals-position: absolute;
        --crystals-top: 31vh;
        --crystals-left: 73vw;
        --crystals-margin-top: 2vh;
        --crystals-width: 20%;
        --h2-position: absolute;
        --h2-top: 11vh;
        --h2-right: 2vw;
        --h2-width: 32%;
        --h2-margin-top: 8vh;
        --h2-margin-bottom: 0;
        --h2-padding-left: 0;
        --h2-text-align: center;
        --h2-font-size: 1.9vw;
        --h2-transform: skew(1deg, -2.5deg);
        --strong-left: 5vw;
        --strong-clear: none;
        --strong-margin-top: 4vh;
        --strong-margin-left: 0;
        --strong-font-size: 3.75vw;
        --a-top: 4vh;
        --a-left: 5vw;
    }
}
@media screen and (min-aspect-ratio: 1/.45) and (max-aspect-ratio: 1/.4) {
    #requirements {
        --h1-margin-bottom: 0;
        --h1-width: 100%;
        --h1-img-width: 15%;
        --h1-margin-bottom: -4vh;
        --h1-padding-left: 3vw;
        --h1-font-size: 4.5vw;
        --hr-width: 60%;
        --hr-margin-right: 0;
        --hr-margin-left: 5vw;
        --hr-s-height: 4.5vw;
        --hr-f-height: 2vw;
        --figure-width: 70%;
        --figure-padding-top: 1vh;
        --figure-padding-bottom: 1vh;
        --h3-font-size: 1.5vw;
        --ul-padding-top: 2vh;
        --ul-font-size: 1vw;
        /*--wow-display: inline-block;*/
        --wow-width: 50%;
        --a-float: left;
        --a-width: 47%;
        /*--a-img-display: block;*/
        --a-img-width: 6vw;
        --a-img-margin-bottom: 0;
        --a-img-margin-right: 1vw;
        --a-padding-top: 4vh;
        --a-font-size: 2.25vw;
        --crystals-position: absolute;
        --crystals-top: 31vh;
        --crystals-left: 73vw;
        --crystals-margin-top: 2vh;
        --crystals-width: 20%;
        --h2-position: absolute;
        --h2-top: 11vh;
        --h2-right: 2vw;
        --h2-width: 32%;
        --h2-margin-top: 8vh;
        --h2-margin-bottom: 0;
        --h2-padding-left: 0;
        --h2-text-align: center;
        --h2-font-size: 1.9vw;
        --h2-transform: skew(1deg, -2.5deg);
        --strong-left: 5vw;
        --strong-clear: none;
        --strong-margin-top: 5vh;
        --strong-margin-left: 0;
        --strong-font-size: 3.75vw;
        --a-top: 5vh;
        --a-left: 5vw;
    }
}