/*@import "introducing.css";*/

/************************************************************
* Fonts
************************************************************/
@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMono-VariableFont_wght.ttf");
    font-weight: 1 999;
}
@font-face {
    font-family: "Roboto Mono";
    src: url("../fonts/RobotoMono-VariableFont_wght.ttf");
    font-weight: 1 999;
}
@font-face {
    font-family: "Roboto Mono Italic";
    src: url("../fonts/RobotoMono-Italic-VariableFont_wght.ttf");
    font-weight: 1 999;
}
@font-face {
    font-family: "Oxanium";
    src: url("../fonts/Oxanium-VariableFont_wght.ttf");
    font-weight: 1 999;
}

/*@font-face {*/
/*    font-family: 'ui';*/
/*    src: url('../fonts/ui.eot?r0mew');*/
/*    src: url('../fonts/ui.eot?r0mew#iefix') format('embedded-opentype'),*/
/*    url('../fonts/ui.ttf?r0mew') format('truetype'),*/
/*    url('../fonts/ui.woff?r0mew') format('woff'),*/
/*    url('../fonts/ui.svg?r0mew#ui') format('svg');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*    font-display: block;*/
/*}*/
[class^="ui-"],
[class*=" ui-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ui' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/************************************************************
* Resets
************************************************************/
html {
    scrollbar-width: thin;
    scrollbar-width: none;
    scroll-behavior: smooth;
    --err-display: none;
    --welcome-top: 0;
    --info-top: 120%;
    --overview-top: 240%;
    --features-top: 360%;
    --platform-top: 480%;
    --introducing-top: 600%;
    --requirements-top: 720%;
    --get-started-top: 840%;
    --distribution-top: 960%;
    --about-top: 1080%;
    --end-top: 1200%;
    --next-width: 8vw;
    --next-height: 4.5vw;
}
body {
    display: block;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #6816ff;
    background-color: #6105f5;
    /* background-color: #e300ba; */
    background: url("../images/bg.svg") repeat #6b31c0;
    background-size: 25%;
    color: #fff;
}
a {
    text-decoration: none;
    color: #00ff99;
    color: #fff;
}
hr {
    border: none;
}
img {
    pointer-events: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-weight: 100;
}
/************************************************************
* Structural
************************************************************/
main {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: thin;
}
main>section {
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
header:after {
    display: var(--err-display);
    margin: 0 auto;
    padding: 4vh 10vw;
    text-align: center;
    content: "⚠ Indecent Viewport Detected";
}
@media screen and (max-aspect-ratio: .4/1) {
    header:after {
        --err-display: block;
        font-size: 7vw;
    }
    main {
        display: none;
    }
}
@media screen and (min-aspect-ratio: 1/.25) {
    main {
        display: none;
    }
    header:after{
        --err-display: block;
        font-size: 10vh;
    }
}
/************************************************************
* Reusable Section Components
************************************************************/
a.next {
    display: block;
    background: url("../images/next.svg") no-repeat;
    width: var(--next-width);
    height: var(--next-height);
    animation: 5s next ease-in-out infinite;
    animation-play-state: paused;
}
@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 1/.5) {
    html{
        --next-width: 4vw;
        --next-height: 2.5vw;
    }
}
@media screen and (min-aspect-ratio: 1/.5) and (max-aspect-ratio: 1/0) {
    html{
        --next-width: 2vw;
        --next-height: 1.25vw;
    }
}
@keyframes next {
    0% {

    }
    25% {
        transform: translateY(1vh);
    }
    30% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(1vh);
    }
    50% {
        transform: translateY(0);
    }
    60% {
        transform: translateY(1vh);
    }
    70% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
.tm {
    font-weight: 300;
    font-style: italic;
    white-space: nowrap;
}
.tm:after {
    content: "\2122";
}
hr.f{
    height: 3vw;
    background: url("../images/hr-f.svg") no-repeat;
    background-size: cover;
}
hr.s{
    height: 7vw;
    background: url("../images/hr-s.svg") no-repeat;
    background-size: cover;
}
/************************************************************
* Peer Connection YESH Styles
************************************************************/
.pc {
    font-style: italic;
    font-weight: 700;
    background: linear-gradient(to right, #6666ff, #0099ff ,#8cff00, #eeff00, #ff3399, #ff9046, #ff0055, #ff009d, #ae2dc2, #6666ff, #09a1ff, #00ff6e, #d9ff01, #ffb406, #ffb406);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 12s ease-in-out infinite alternate-reverse;
    background-size: 200% 100%;
    /* text-shadow: 1px 1px 1px  #b413ff55; */
    /* -webkit-text-stroke: .02vh rgb(255, 255, 255); */

    /* text-shadow: 1px 0 #f48fb1, 2px 0 #7e57c2, 3px 0 #2196f3, 4px 0 #26c6da, 5px 0 #43a047, 6px 0 #eeff41, 7px 0 #f9a825, 8px 0 #ff5722, -1px 0 #f48fb1, -2px 0 #7e57c2, -3px 0 #2196f3, -4px 0 #26c6da, -5px 0 #43a047, -6px 0 #eeff41, -7px 0 #f9a825, -8px 0 #ff5722; */
}
.pc:after {
    content: "YESH";
    vertical-align: super;
    font-size: 40%;
    font-weight: 100;
    margin: 0 .5em 0 .25em;
    /* animation: rainbow_animation 6s ease-in-out infinite alternate-reverse; */
    color: #f60;
}

