/************************************************************
* Display - Welcome
************************************************************/
#welcome {
    top: 0;
    --h1-font-size: 3.75vw;

    --figure-left: 0;
    --figure-width: auto;

    --picture-float: none;
    --picture-width: 60vw;
    --picture-margin-top: 5vh;
    --picture-margin-right: auto;
    --picture-margin-bottom: 5vh;
    --picture-margin-left: auto;
    --picture-padding-top: 0;
    --picture-padding-right: 2.5vw;
    --picture-padding-bottom: 0;
    --picture-padding-left: 2.5vw;

    --h1-float: none;
    --h1-width: auto;
    --h1-margin-top: 0;
    --h1-margin-right: 0;
    --h1-margin-bottom: 4vh;
    --h1-margin-left: 0;
    --h1-padding-top: 0;
    --h1-padding-right: 0;
    --h1-padding-bottom: 0;
    --h1-padding-left: 0;

    --h2-top: 0;
    --h2-float: none;
    --h2-clear: none;
    --h2-width: auto;
    --h2-padding-top: 0;
    --h2-padding-right: 0;
    --h2-padding-bottom: 0;
    --h2-padding-left: 0;
    --h2-font-size: 7vw;

    --a-top: 0;

    text-align: center;
}
#welcome>figure{
    display: block;
    position: relative;
    left: var(--figure-left);
    box-sizing: border-box;
    margin: 0 auto;
    padding: var(--figure-padding-top) 0 0;
    width: var(--figure-width);
    height: 60vh;
    animation: 1s fade1 linear forwards;

}
#welcome>figure>picture {
    display: block;
    float: var(--picture-float);
    content: url("/images/amuletz.svg");
    box-sizing: border-box;
    width: var(--picture-width);
    height: calc(var(--picture-width) * .78);
    margin: var(--picture-margin-top) var(--picture-margin-right) var(--picture-margin-bottom) var(--picture-margin-left);
    padding: var(--picture-padding-top) var(--picture-padding-right) var(--picture-padding-bottom) var(--picture-padding-left);
    animation: 2s fade1 linear forwards;
}
/*#welcome:target>figure>picture {*/
/*    animation-play-state: running;*/
/*}*/
@keyframes fade1 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#welcome:target>figure>picture{
    content: url("/images/amuletz.svg#play");
}
#welcome>figure>h1 {
    display: block;
    box-sizing: border-box;
    padding: 0 10vw;
    text-align: center;
    line-height: calc((var(--h1-font-size) * 2) - (var(--h1-font-size) / 2));
}
#welcome>figure>h1 {
    display: block;
    box-sizing: border-box;
    float: var(--h1-float);
    margin: var(--h1-margin-top) var(--h1-margin-right) var(--h1-margin-bottom) var(--h1-margin-left);
    padding: var(--h1-padding-top) var(--h1-padding-right) var(--h1-padding-bottom) var(--h1-padding-left);
    width: var(--h1-width);
    line-height: calc(var(--h1-font-size) * 1.5);
    text-align: center;
    font-weight: 300;
}
#welcome>figure>h1>span {
    font-size: var(--h1-font-size);
}
#welcome>figure>h1>span>b {
    color: #00ffb3;
    font-weight: 600;
}
#welcome>figure>h1>span>.tm {
    font-weight: 400;
}
#welcome>h2 {
    display: block;
    position: relative;
    top: var(--h2-top);
    float: var(--h2-float);
    clear: var(--h2-clear);
    margin: var(--h2-margin-top) var(--h2-margin-right) var(--h2-margin-bottom) var(--h2-margin-left);
    padding: var(--h2-padding-top) var(--h2-padding-right) var(--h2-padding-bottom) var(--h2-padding-left);
    width: var(--h2-width);
    text-align: center;
}
#welcome>h2>b {
    display: block;
    margin: 0 0 .5em;
    font-weight: 700;
    font-style: italic;
    font-size: calc(var(--h2-font-size) * .45);
    color: #fff;
    text-shadow: .1vh .1vh .1vh #601c8d;
    -webkit-text-stroke: .05vh rgb(66, 1, 123);
}
#welcome>h2>span{
    font-size: var(--h2-font-size);
}
#welcome>a {
    position: relative;
    top: var(--a-top);
    margin: 4vh auto;
    animation-play-state: paused;
}
#welcome:target>a{
    animation-play-state: running;
}
#welcome>footer {
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 1.5em 2em;
    text-align: center;
}
#welcome>footer>span {
    font-size: .75em;
    font-weight: 100;
    opacity: .5;
}

@media screen and (max-aspect-ratio: .525/1) {
    #welcome{
        --picture-width: 78vw;
        --h1-font-size: 3.75vw;
        --h1-padding-right: 10vw;
        --h1-padding-left: 10vw;
        --h2-font-size: 8vw;
    }
}
@media screen and (min-aspect-ratio: .525/1) and (max-aspect-ratio: .9/1) {
    #welcome{
        --picture-width: 40vh;
        --h1-font-size: 3.5vw;
        --h1-padding-right: 13vw;
        --h1-padding-left: 13vw;
        --h2-padding-top: 2vh;

    }
}
@media screen and (min-aspect-ratio: .9/1) and (max-aspect-ratio: 1/1){
    #welcome{
        --picture-width: 40vh;
        --h1-font-size: 3.25vw;
        --h1-padding-right: 15.5vw;
        --h1-padding-left: 15.5vw;
        --h2-padding-top: 4vh;
        --h2-font-size: 6vw;

    }
}
@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 1/.9){
    #welcome{
        --picture-width: 35vh;
        --h1-font-size: 2.75vw;
        --h1-padding-right: 20.75vw;
        --h1-padding-left: 20.75vw;
        --h2-font-size: 6vw;
    }
}
@media screen and (min-aspect-ratio: 1/.9) and (max-aspect-ratio: 1/.8){
    #welcome{
        --picture-width: 35vh;
        --h1-font-size: 2.75vw;
        --h1-padding-right: 20.75vw;
        --h1-padding-left: 20.75vw;
        --h2-font-size: 5vw;
    }
}
@media screen and (min-aspect-ratio: 1/.8){
    #welcome{
        --figure-left: -2vw;
        --figure-padding-top: 15vh;
        --figure-width: 78vw;
        --picture-float: left;
        --picture-margin-right: 0;
        --picture-margin-left: 0;
        --picture-margin-top: 0;
        --picture-padding-right: 0;
        --picture-padding-left: 0;
        --picture-width: 28vw;
        --h1-float: right;
        --h1-width: 49vw;
        --h1-padding-top: 9vh;
        --h1-padding-right: 0;
        --h1-padding-left: 0;
        --h1-font-size: 2.19vw;
        --h2-top: -5vh;
        --h2-clear: left;
        --h2-padding-right: 0;
        --h2-padding-left: 0;
        --h2-font-size: 5vw;
    }
}
@media screen and (min-aspect-ratio: 1/.8) and (max-aspect-ratio: 1/.65){
    #welcome{
        --figure-padding-top: 25vh;
        --h1-padding-top: 5vh;
        --h2-top: -5vh;
    }
}
@media screen and (min-aspect-ratio: 1/.65) and (max-aspect-ratio: 1/.6){
    #welcome{
        --figure-padding-top: 10vh;
        --h1-padding-top: 7vh;
        --h2-top: -8vh;
    }
}
@media screen and (min-aspect-ratio: 1/.6) and (max-aspect-ratio: 1/.5){
    #welcome{
        --figure-left: -3vw;
        --figure-width: 68vw;
        --figure-padding-top: 12vh;
        --h1-width: 39vw;
        --h1-padding-top: 8vh;
        --h1-font-size: 1.75vw;
        --h2-top: -8vh;
        --h2-font-size: 3.5vw;
        --a-top: -7vh;
    }
}
@media screen and (min-aspect-ratio: 1/.5) {
    #welcome {
        --figure-left: 0;
    }
}
@media screen and (min-aspect-ratio: 1/.5) and (max-aspect-ratio: 1/.45){
    #welcome{
        --figure-width: 61vw;
        --figure-padding-top: 12vh;
        --picture-width: 23vw;
        --h1-padding-top: 5vh;
        --h1-width: 37vw;
        --h1-font-size: 1.75vw;
        --h2-top: -10vh;
        --h2-font-size: 4vw;
        --a-top: -10vh;
    }
}
@media screen and (min-aspect-ratio: 1/.45) and (max-aspect-ratio: 1/.4){
    #welcome{
        --figure-width: 61vw;
        --figure-padding-top: 12vh;
        --picture-width: 23vw;
        --h1-padding-top: 6vh;
        --h1-width: 37vw;
        --h1-font-size: 1.75vw;
        --h2-top: -10vh;
        --h2-font-size: 4vw;
        --a-top: -10vh;
    }
}
@media screen and (min-aspect-ratio: 1/.4) and (max-aspect-ratio: 1/.35){
    #welcome{
        --figure-width: 54vw;
        --figure-padding-top: 12vh;
        --h1-padding-top: 9vh;
        --picture-width: 20vw;
        --h1-width: 34vw;
        --h1-font-size: 1.5vw;
        --h2-top: -10vh;
        --h2-font-size: 3vw;
        --a-top: -10vh;
    }
}
@media screen and (min-aspect-ratio: 1/.35) and (max-aspect-ratio: 1/.3){
    #welcome{
        --figure-width: 43vw;
        --figure-padding-top: 15vh;
        --picture-width: 16vw;
        --h1-padding-top: 7vh;
        --h1-width: 26vw;
        --h1-font-size: 1.25vw;
        --h2-top: -10vh;
        --h2-font-size: 2.75vw;
        --a-top: -10vh;
    }
}
@media screen and (min-aspect-ratio: 1/.3) and (max-aspect-ratio: 1/.25){
    #welcome{
        --figure-left: -1vw;
        --figure-width: 41vw;
        --figure-padding-top: 10vh;
        --picture-width: 15vw;
        --h1-padding-top: 7vh;
        --h1-width: 26vw;
        --h1-font-size: 1.25vw;
        --h2-top: -9vh;
        --h2-font-size: 2.5vw;
        --a-top: -8vh;
    }
}