#end {
    top: var(--end-top);
    --h1-font-size: 9.5vw;
    --h1-margin-top: 0;
    --h1-margin-bottom: 0;
    --h1-padding: 7vw;
    --h1-padding-top: 7vw;
    --h1-padding-bottom: 7vw;
    --img-position: relative;
    --img-left: 2vw;
    --img-right: 0;
    --img-bottom: 0;
    --img-width: 86vw;
}
#end>h1 {
    box-sizing: border-box;
    margin: var(--h1-margin-top) auto var(--h1-margin-bottom);
    padding: var(--h1-padding-top) var(--h1-padding) var(--h1-padding-bottom) var(--h1-padding);
}
#end>h1>span {
    display: block;
    margin: 0 0 .25vh;
    font-size: var(--h1-font-size);
    line-height: calc(var(--h1-font-size) * 1.25);
    font-weight: 600;
}
#end>h1>span>span{
    color: #00ffb3;
}
#end>img {
    position: var(--img-position);
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: var(--img-width);
    left: var(--img-left);
    bottom: var(--img-bottom);
    right: var(--img-right);
}
#end>footer {
    display: block;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 5vw;
    text-align: center;
    font-size: 1.25em;
}
@media screen and (max-aspect-ratio: .25/1) {
    #end {
        --h1-margin-top: 30vh;
    }
}
@media screen and (min-aspect-ratio: .25/1) and (max-aspect-ratio: .3/1) {
    #end {
        --h1-margin-top: 30vh;
    }
}
@media screen and (min-aspect-ratio: .3/1) and (max-aspect-ratio: .35/1) {
    #end {
        --h1-margin-top: 27vh;
    }
}
@media screen and (min-aspect-ratio: .35/1) and (max-aspect-ratio: .4/1) {
    #end {
        --h1-margin-top: 25vh;
    }
}
@media screen and (min-aspect-ratio: .4/1) and (max-aspect-ratio: .45/1) {
    #end {
        --h1-margin-top: 22vh;
    }
}
@media screen and (min-aspect-ratio: .45/1) and (max-aspect-ratio: .5/1) {
    #end {
        --h1-margin-top: 19vh;
    }
}
@media screen and (min-aspect-ratio: .5/1) and (max-aspect-ratio: .55/1) {
    #end {
        --h1-margin-top: 15vh;
    }
}
@media screen and (min-aspect-ratio: .55/1) and (max-aspect-ratio: .6/1) {
    #end {
        --h1-margin-top: 12vh;
    }
}
@media screen and (min-aspect-ratio: .6/1) and (max-aspect-ratio: .65/1) {
    #end {
        --h1-margin-top: 10vh;
    }
}
@media screen and (min-aspect-ratio: .65/1) and (max-aspect-ratio: .7/1) {
    #end {
        --h1-margin-top: 5vh;
    }
}
@media screen and (min-aspect-ratio: .7/1) and (max-aspect-ratio: .75/1) {
    #end {
        --h1-margin-top: 2vh;
    }
}
@media screen and (min-aspect-ratio: .75/1) and (max-aspect-ratio: .8/1) {
    #end {
        --h1-padding-bottom: 3vh;
        --img-width: 85vw;
    }
}
@media screen and (min-aspect-ratio: .8/1) and (max-aspect-ratio: .85/1) {
    #end {
        --h1-padding-bottom: 3vh;
        --img-width: 79vw;
    }
}
@media screen and (min-aspect-ratio: .85/1) and (max-aspect-ratio: .9/1) {
    #end {
        --h1-padding-bottom: 3vh;
        --img-width: 70vw;
    }
}
@media screen and (min-aspect-ratio: .9/1) and (max-aspect-ratio: .95/1) {
    #end {
        --h1-padding-bottom: 1vh;
        --img-width: 68vw;
    }
}
@media screen and (min-aspect-ratio: .95/1) and (max-aspect-ratio: 1/1) {
    #end {
        --h1-padding-bottom: 1vh;
        --h1-font-size: 8.5vw;
        --img-width: 65vw;
    }
}
@media screen and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 1/.95) {
    #end {
        --h1-padding-bottom: 2vh;
        --h1-font-size: 8vw;
        --img-width: 60vw;
    }
}
@media screen and (min-aspect-ratio: 1/.95) and (max-aspect-ratio: 1/.9) {
    #end {
        --h1-padding-bottom: 2vh;
        --h1-font-size: 8vw;
        --img-width: 53vw;
    }
}
@media screen and (min-aspect-ratio: 1/.9) and (max-aspect-ratio: 1/.85) {
    #end {
        --h1-padding-top: 6vh;
        --h1-padding-bottom: 2vh;
        --h1-font-size: 7vw;
        --img-position: absolute;
        --img-width: 50vw;
        --img-bottom: 16vh;
        --img-left: 45vw;
    }
}
@media screen and (min-aspect-ratio: 1/.85) and (max-aspect-ratio: 1/.8) {
    #end {
        --h1-padding-top: 6vh;
        --h1-padding-bottom: 2vh;
        --h1-font-size: 7vw;
        --img-position: absolute;
        --img-width: 50vw;
        --img-bottom: 16vh;
        --img-left: 45vw;
    }
}
@media screen and (min-aspect-ratio: 1/.8) and (max-aspect-ratio: 1/.75) {
    #end {
        --h1-padding-top: 6vh;
        --h1-padding-bottom: 2vh;
        --h1-font-size: 7vw;
        --img-position: absolute;
        --img-width: 50vw;
        --img-bottom: 16vh;
        --img-left: 45vw;
    }
}
@media screen and (min-aspect-ratio: 1/.75) and (max-aspect-ratio: 1/.7) {
    #end {
        --h1-padding-top: 6vh;
        --h1-padding-bottom: 2vh;
        --h1-font-size: 7vw;
        --img-position: absolute;
        --img-width: 50vw;
        --img-bottom: 16vh;
        --img-left: 47vw;
    }
}
@media screen and (min-aspect-ratio: 1/.7) and (max-aspect-ratio: 1/.65) {
    #end {
        --h1-padding-top: 6vh;
        --h1-padding-bottom: 2vh;
        --h1-font-size: 7vw;
        --img-position: absolute;
        --img-width: 50vw;
        --img-bottom: 16vh;
        --img-left: 50vw;
    }
}
@media screen and (min-aspect-ratio: 1/.65) and (max-aspect-ratio: 1/.6) {
    #end {
        --h1-padding-top: 6vh;
        --h1-padding-bottom: 2vh;
        --h1-font-size: 9vw;
        --img-position: absolute;
        --img-width: 37vw;
        --img-bottom: 16vh;
        --img-left: 62vw;
    }
}
@media screen and (min-aspect-ratio: 1/.6) and (max-aspect-ratio: 1/.55) {
    #end {
        --h1-padding-top: 6vh;
        --h1-padding-bottom: 2vh;
        --h1-font-size: 9vw;
        --img-position: absolute;
        --img-width: 37vw;
        --img-bottom: 12vh;
        --img-left: 62vw;
    }
}
@media screen and (min-aspect-ratio: 1/.55) and (max-aspect-ratio: 1/.5) {
    #end {
        --h1-padding-top: 6vh;
        --h1-padding-bottom: 2vh;
        --h1-font-size: 7vw;
        --img-position: absolute;
        --img-width: 40vw;
        --img-bottom: 8vh;
        --img-left: 60vw;
    }
}
@media screen and (min-aspect-ratio: 1/.5) and (max-aspect-ratio: 1/.45) {
    #end {
        --h1-padding-top: 8vh;
        --h1-padding-bottom: 0;
        --h1-font-size: 6.5vw;
        --img-position: absolute;
        --img-width: 40vw;
        --img-bottom: 10vh;
        --img-left: 60vw;
    }
}
@media screen and (min-aspect-ratio: 1/.45) {
    #end {
        --h1-padding-top: 10vh;
        --h1-padding-bottom: 0;
        --h1-font-size: 13vh;
        --img-position: absolute;
        --img-width: 100vh;
        --img-bottom: 20vh;
        --img-left: unset;
        --img-right: 1vw;
    }
}